body {
  background: url("../src/image/cart/cart-bg.png") repeat left top; }

.cart-container {
  max-width: 1300px;
  margin: auto;
  margin-top: 30px; }
  .cart-container .cart-title {
    width: 322px;
    margin: auto; }
  .cart-container .cart-list {
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px; }
    .cart-container .cart-list .cart-item {
      float: left;
      padding-bottom: 14px;
      border-bottom: solid 1px #444; }
      @media all and (min-width: 1200px) {
        .cart-container .cart-list .cart-item {
          width: 77%; } }
      .cart-container .cart-list .cart-item .item-left-group {
        width: 100%;
        text-align: left;
        display: inline-block; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left .cart-prod-img {
          width: 30%;
          display: inline-block;
          float: left; }
          .cart-container .cart-list .cart-item .item-left-group .cart-item-left .cart-prod-img img {
            max-width: 90%; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left .item-group {
          width: 20%;
          display: inline-block;
          height: 100%;
          padding-left: 10px;
          float: left;
          line-height: 280%; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left .item-price {
          width: 18%;
          float: left;
          box-sizing: border-box;
          line-height: 280%; }
          .cart-container .cart-list .cart-item .item-left-group .cart-item-left .item-price a {
            text-decoration: none;
            color: #4a4; }
  .cart-container .cart-total-panel {
    background-color: #F6F7ED;
    border-radius: 25px;
    padding: 0 10px 0;
    float: right;
    min-width: 20%;
    line-height: 300%; }
    .cart-container .cart-total-panel .cart-total-title {
      width: 50%;
      box-sizing: border-box;
      float: left; }
    .cart-container .cart-total-panel .cart-total-money {
      width: 50%;
      box-sizing: border-box;
      float: left; }
    .cart-container .cart-total-panel .cart-total {
      border-top: solid 1px #bbb;
      clear: both; }
      @media all and (min-width: 1200px) {
        .cart-container .cart-total-panel .cart-total {
          text-align: right; } }
      @media all and (min-width: 768px) and (max-width: 1199px) {
        .cart-container .cart-total-panel .cart-total {
          text-align: center; } }
  .cart-container .keep-shopping {
    margin: auto; }
    .cart-container .keep-shopping .btn_green {
      width: 200px;
      display: block;
      margin: auto;
      text-decoration: none;
      vertical-align: middle;
      margin-top: 3%;
      box-sizing: border-box; }
  .cart-container .cart-address {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 10px 0;
    background: #FAF6F0;
    border-radius: 25px; }
    .cart-container .cart-address h2 {
      width: 112px;
      margin: auto;
      padding-bottom: 5%; }
    .cart-container .cart-address .cart-preset {
      width: 200px;
      margin: auto;
      margin-bottom: 10px; }
    .cart-container .cart-address .cart-shipping-info .form-group {
      width: 49%;
      margin: auto;
      display: inline-block;
      padding: 0 10px;
      box-sizing: border-box; }
      .cart-container .cart-address .cart-shipping-info .form-group input {
        width: 100%;
        margin: 4px 0;
        height: 20px; }
  .cart-container .cart-pay {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 10px 0;
    background: #FAF6F0;
    border-radius: 25px; }
    .cart-container .cart-pay h2 {
      width: 112px;
      margin: auto;
      padding-bottom: 5%; }
    .cart-container .cart-pay .form-group {
      padding: 0 10px 0; }
      .cart-container .cart-pay .form-group:nth-child(1) {
        width: 49%;
        display: inline-block;
        box-sizing: border-box; }
      .cart-container .cart-pay .form-group:nth-child(2) {
        width: 49%;
        display: inline-block;
        box-sizing: border-box; }
      .cart-container .cart-pay .form-group:nth-child(3) {
        width: 49%;
        display: inline-block;
        box-sizing: border-box; }
        .cart-container .cart-pay .form-group:nth-child(3) input {
          width: 100%; }
      .cart-container .cart-pay .form-group:nth-child(4) {
        width: 30%;
        display: inline-block;
        box-sizing: border-box; }
        .cart-container .cart-pay .form-group:nth-child(4) input {
          width: 40%; }
      .cart-container .cart-pay .form-group:nth-child(5) {
        width: 18%;
        display: inline-block;
        box-sizing: border-box; }
        .cart-container .cart-pay .form-group:nth-child(5) input {
          width: 50%; }
  .cart-container .btn_green {
    width: 200px;
    display: block;
    margin: auto;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 3%;
    box-sizing: border-box; }

.cart-bg {
  margin: auto;
  width: 92%;
  background-color: #fff;
  padding-bottom: 5%; }

@media all and (max-width: 767px) {
  .cart-container .cart-title {
    text-align: center;
    width: 100%; }
    .cart-container .cart-title img {
      max-width: 80%; }
  .cart-container .cart-list {
    width: 90%;
    box-sizing: border-box; }
    .cart-container .cart-list .cart-item {
      width: 100%;
      border: none;
      margin: auto; }
      .cart-container .cart-list .cart-item .item-left-group {
        display: block;
        margin: auto; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left div:nth-child(2) {
          width: 40%;
          box-sizing: border-box; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left div:nth-child(3) {
          width: 30%;
          box-sizing: border-box; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left div:nth-child(4) {
          width: 30%;
          box-sizing: border-box;
          padding-right: 6%; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left .item-price {
          width: 21%; }
        .cart-container .cart-list .cart-item .item-left-group .cart-item-left .cart-prod-img {
          text-align: center;
          width: 100%;
          margin: auto; }
  .cart-total-panel {
    width: 100%;
    box-sizing: border-box;
    display: inline-block; }
    .cart-total-panel .cart-total {
      text-align: center; }
  .cart-container .cart-address .cart-shipping-info .form-group {
    width: 96%; }
  .cart-container .cart-pay .form-group:nth-child(3) {
    width: 100%; }
    .cart-container .cart-pay .form-group:nth-child(3) input {
      width: 98%; }
  .cart-container .cart-pay .form-group:nth-child(4) {
    width: 100%; }
  .cart-container .cart-pay .form-group:nth-child(5) {
    width: 100%; } }

@media all and (min-width: 768px) and (max-width: 1199px) {
  .cart-container .cart-list .cart-item {
    width: 100%;
    border: none; }
  .cart-total-panel {
    width: 100%;
    box-sizing: border-box; }
    .cart-total-panel .cart-total {
      text-align: right; }
    .cart-total-panel form {
      width: 200px; } }
