@media screen and (max-width: 767px) {
  .col-xs-1 {
    width: 8.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-2 {
    width: 16.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-3 {
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-4 {
    width: 33.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-5 {
    width: 41.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-6 {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-7 {
    width: 58.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-8 {
    width: 66.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-9 {
    width: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-10 {
    width: 83.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-11 {
    width: 91.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-xs-12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .hidden-xs {
    display: none; } }

@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-2 {
    width: 16.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-3 {
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-4 {
    width: 33.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-5 {
    width: 41.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-6 {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-7 {
    width: 58.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-8 {
    width: 66.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-9 {
    width: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-10 {
    width: 83.33333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-11 {
    width: 91.66667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .col-sm-12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .hidden-sm {
    display: none; } }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.h_100vh {
  height: 100vh; }

.h_100p {
  height: 100%; }

.w_100vw {
  width: 100vw; }

.w_100p {
  width: 100%; }

.oh {
  overflow: hidden; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.txt {
  font-size: 10px; }

.fixed {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 2px 8px #aaa;
  box-shadow: 0px 2px 8px #aaa;
  z-index: 99; }

button {
  outline: none; }

textarea {
  resize: none; }

body {
  background-image: url("../src/image/cart/cart-bg.png"); }

.display {
  display: none; }

.donate_info {
  max-width: 960px;
  margin: auto;
  margin-top: 5%; }
  @media screen and (max-width: 767px) {
    .donate_info {
      margin-top: 20%; } }

.data_info {
  width: 100%; }
  .data_info .case_title {
    text-align: center;
    line-height: 1.8;
    margin: 2.5% 0;
    color: #59493f; }
    .data_info .case_title h2 {
      color: #362e2b; }
    @media screen and (max-width: 767px) {
      .data_info .case_title h2 {
        font-size: 24px; }
      .data_info .case_title h3 {
        font-size: 16px; }
      .data_info .case_title h4 {
        font-size: 12px; } }
    .data_info .case_title h4 span {
      color: #a40000; }
  .data_info .play-video .video_item {
    width: 95%;
    margin: 0 2.5%;
    padding-bottom: 56.8125%;
    position: relative; }
    .data_info .play-video .video_item .video {
      width: 100%;
      height: 100%;
      position: absolute; }
  .data_info .case_data {
    background-image: url("../src/image/funded/sports_ouen.png");
    background-size: 100%;
    background-position: 0 -50px;
    background-repeat: no-repeat; }
    @media screen and (max-width: 767px) {
      .data_info .case_data {
        background-image: none; } }
    .data_info .case_data .case_tiem {
      width: 90%;
      margin: 0 5%; }
      .data_info .case_data .case_tiem p {
        font-size: 42px;
        line-height: 1.5;
        color: #00561f; }
        .data_info .case_data .case_tiem p span {
          font-size: 16px;
          color: #007130; }
      .data_info .case_data .case_tiem form {
        margin-top: 25%; }
        .data_info .case_data .case_tiem form select {
          outline: none; }
        @media screen and (max-width: 767px) {
          .data_info .case_data .case_tiem form {
            margin-top: 3%; } }
        .data_info .case_data .case_tiem form select {
          width: 100%;
          height: 25px;
          color: #59493f; }
        .data_info .case_data .case_tiem form button {
          margin: 5% 0px;
          width: 100%;
          padding: 5px 0;
          border-radius: 25px;
          background-color: #59493f;
          color: #fff;
          border: 0px; }
          .data_info .case_data .case_tiem form button:hover {
            background-color: #f1ece4;
            color: #59493f; }
      .data_info .case_data .case_tiem .case_ing {
        margin-top: 6%;
        font-size: 14px;
        border-left: 5px solid #59493f;
        color: #59493f;
        padding-left: 10px; }
        @media screen and (max-width: 767px) {
          .data_info .case_data .case_tiem .case_ing {
            font-size: 10px;
            margin: 2% 0 5%;
            background-image: url("../src/image/funded/sports_ouen.png");
            background-size: 30%;
            background-repeat: no-repeat;
            background-position: right bottom; } }
  .data_info .progress {
    margin-top: 3%;
    padding: 0 2%;
    background-image: url("../src/image/funded/deco-wood-01.gif");
    background-repeat: no-repeat;
    background-position: 20px 3px; }
    @media screen and (max-width: 767px) {
      .data_info .progress {
        background-size: 20%;
        background-position: 10px -12px; } }
    .data_info .progress .progress_bar {
      width: 100%;
      height: 20px;
      background-color: #ddd;
      border-radius: 25px;
      position: relative;
      margin-top: 7.5%; }
      .data_info .progress .progress_bar .bar {
        position: absolute;
        height: 20px;
        border-radius: 25px;
        background-color: #9BC044; }
        .data_info .progress .progress_bar .bar .running_man {
          width: 70px;
          vertical-align: middle;
          position: absolute;
          bottom: 20px;
          right: 0; }
          @media screen and (max-width: 767px) {
            .data_info .progress .progress_bar .bar .running_man {
              width: 30px; } }
    .data_info .progress .amt {
      line-height: 3;
      font-size: 16px;
      text-align: center;
      color: #00561f; }

.main-nav {
  background-color: #f1ece4;
  width: 100%;
  height: 65px; }
  @media screen and (max-width: 767px) {
    .main-nav {
      height: 60px; } }
  .main-nav .full-wrapper {
    margin: auto;
    overflow: hidden; }
    .main-nav .full-wrapper .inner-nav ul {
      list-style: none; }
      .main-nav .full-wrapper .inner-nav ul li {
        display: block;
        float: left;
        text-align: center;
        width: 15%; }
        @media screen and (max-width: 767px) {
          .main-nav .full-wrapper .inner-nav ul li {
            font-size: 12px; } }
        .main-nav .full-wrapper .inner-nav ul li a {
          display: inline-block;
          padding-bottom: 5px;
          padding: 20px 0 23px;
          color: #59493f; }
          .main-nav .full-wrapper .inner-nav ul li a:hover {
            border-bottom: 5px solid #59493f;
            padding: 20px 0 18px; }
      .main-nav .full-wrapper .inner-nav ul .donate_nav {
        width: 30%;
        float: right;
        padding: 0;
        background-color: #FFF;
        position: relative; }
        .main-nav .full-wrapper .inner-nav ul .donate_nav .want_donate {
          width: 100%;
          font-size: 18px;
          text-align: center;
          color: #fff;
          background-color: #59493f;
          border: 0px;
          position: absolute;
          bottom: -70px;
          top: 0;
          right: 0;
          left: 0; }
          @media screen and (max-width: 767px) {
            .main-nav .full-wrapper .inner-nav ul .donate_nav .want_donate {
              bottom: -60px; } }
          .main-nav .full-wrapper .inner-nav ul .donate_nav .want_donate:hover {
            background-color: #f1ece4;
            color: #59493f; }

.case_content {
  width: 100%; }
  .case_content .content_title {
    width: 95%;
    margin: 0 2.5%; }
    .case_content .content_title .title {
      font-size: 24px;
      line-height: 2;
      margin-top: 5%;
      margin-bottom: 3%;
      border-bottom: 2px solid #59493f; }
  .case_content .content_txt .content_item {
    padding: 0 1.5%; }
    .case_content .content_txt .content_item .txt {
      font-size: 14px;
      text-indent: 2.2em;
      line-height: 2.1; }
  .case_content .content_txt .content_img img {
    width: 100%; }
  .case_content .content_txt .content_img:last-child {
    margin-top: 8%; }
  .case_content .food .food_title {
    margin: 2.5% 0;
    font-size: 18px; }
  .case_content .food .food_item {
    overflow: hidden; }
    .case_content .food .food_item .food_img1 {
      height: 130px;
      margin: auto;
      display: table; }
    .case_content .food .food_item .food_img2 {
      width: 85%;
      margin: 5% auto 20%; }
      @media screen and (max-width: 767px) {
        .case_content .food .food_item .food_img2 {
          width: 60%;
          margin: 5% auto 20%; } }
      .case_content .food .food_item .food_img2 p {
        display: block;
        max-height: 130px;
        background-color: #1e8600;
        padding: 30px 10px 50px;
        text-align: center;
        border-radius: 50%;
        line-height: 1.5;
        color: #fff;
        font-size: 14px; }
        .case_content .food .food_item .food_img2 p span {
          width: 100%;
          padding: 0 35%;
          border-bottom: 1px solid #ccc; }

.food_hr {
  width: 100%; }

.progress_return {
  width: 100%; }
  .progress_return h2 {
    text-align: center;
    line-height: 4;
    background-image: url("../src/image/funded/deco-mainvisual-01.gif");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 80% center; }
    @media screen and (max-width: 767px) {
      .progress_return h2 {
        font-size: 24px;
        padding: 3%;
        line-height: 3; } }
  .progress_return .type_1 {
    width: 80%;
    margin-bottom: 5%;
    padding: 0 10% 10%;
    background-image: url("../src/image/funded/bg_foot01.png"), url("../src/image/funded/img_1400_sub.png");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom; }
    .progress_return .type_1 .type_img img {
      width: 100%; }
    .progress_return .type_1 .type_txt .title {
      text-align: left;
      color: #362e2b;
      margin: 3% 0; }
      .progress_return .type_1 .type_txt .title .date {
        display: inline-block;
        float: right;
        font-size: 14px;
        color: #7e6b5a; }
    .progress_return .type_1 .type_txt .content {
      font-size: 16px;
      color: #59493f;
      line-height: 2; }
  .progress_return .type_2 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15%;
    background-image: url("../src/image/funded/bg_foot02.png"), url("../src/image/funded/img_830_sub.png");
    background-repeat: no-repeat;
    background-position: center bottom , right bottom; }
    .progress_return .type_2 .type_img img {
      width: 95%; }
    .progress_return .type_2 .type_txt .title {
      text-align: left;
      color: #362e2b;
      margin: 5% 0; }
      .progress_return .type_2 .type_txt .title .date {
        display: inline-block;
        float: right;
        font-size: 14px;
        color: #7e6b5a; }
    .progress_return .type_2 .type_txt .content {
      font-size: 16px;
      color: #59493f;
      line-height: 2; }
  .progress_return .type_3 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15%;
    background-image: url("../src/image/funded/bg_foot08.png"), url("../src/image/funded/img_500_sub.png");
    background-repeat: no-repeat;
    background-position: center bottom , left 300px; }
    .progress_return .type_3 .type_img {
      float: right; }
      .progress_return .type_3 .type_img img {
        width: 95%; }
    .progress_return .type_3 .type_txt .title {
      text-align: left;
      color: #362e2b;
      margin: 5% 0; }
      .progress_return .type_3 .type_txt .title .date {
        display: inline-block;
        float: right;
        font-size: 14px;
        color: #7e6b5a; }
    .progress_return .type_3 .type_txt .content {
      font-size: 16px;
      color: #59493f;
      line-height: 2; }

.message {
  width: 80%;
  margin: auto; }
  .message h2 {
    text-align: center;
    line-height: 3;
    background-image: url("../src/image/funded/deco-denim-01.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left center; }
    @media screen and (max-width: 767px) {
      .message h2 {
        font-size: 24px;
        padding: 3%;
        line-height: 2; } }
  .message .message_form {
    margin: auto;
    margin-bottom: 5%;
    position: relative; }
    .message .message_form .message_box {
      width: 100%;
      padding: 3% 4% 2% 2%;
      margin-bottom: 2%;
      border-radius: 15px;
      border: 1px solid #ddd0bb; }
      .message .message_form .message_box .mem_photo {
        text-align: right;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2% 2%;
        overflow: hidden; }
        .message .message_form .message_box .mem_photo img {
          width: 100%;
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          border-radius: 50%; }
      .message .message_form .message_box .mem_txt .content {
        font-size: 16px;
        line-height: 1.5;
        background-color: #ddd0bb;
        border-radius: 15px;
        padding: 2%;
        margin-left: 3%;
        position: relative; }
        @media screen and (max-width: 767px) {
          .message .message_form .message_box .mem_txt .content {
            font-size: 14px;
            padding: 3%; } }
        .message .message_form .message_box .mem_txt .content:before {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border: 13px solid transparent;
          border-top-color: #ddd0bb;
          border-right-color: #ddd0bb;
          position: absolute;
          left: -4%; }
          @media screen and (max-width: 767px) {
            .message .message_form .message_box .mem_txt .content:before {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              border: 9px solid transparent;
              border-top-color: #ddd0bb;
              border-right-color: #ddd0bb;
              position: absolute;
              left: -6%; } }
        .message .message_form .message_box .mem_txt .content .date {
          font-size: 12px;
          text-align: right;
          display: block; }
        .message .message_form .message_box .mem_txt .content .report {
          width: 4%;
          vertical-align: bottom;
          cursor: pointer; }
        .message .message_form .message_box .mem_txt .content .click .report path {
          fill: red; }
        .message .message_form .message_box .mem_txt .content .click circle {
          stroke: red; }
    .message .message_form .msg_box {
      background-color: #f1ece4;
      border-radius: 15px; }
      .message .message_form .msg_box .mem_photo {
        text-align: right;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2% 2%; }
        .message .message_form .msg_box .mem_photo img {
          width: 100%;
          border-radius: 50%;
          display: block; }
      .message .message_form .msg_box .mem_txt .content {
        width: 92%;
        font-size: 16px;
        background-color: #fff;
        padding: 2%;
        text-align: left;
        font-size: 14px;
        font-weight: 200;
        outline: none; }
    .message .message_form button {
      float: right;
      margin: 2% 1% 0;
      width: 80%;
      padding: 1%;
      color: #fff;
      font-size: 16px;
      background-color: #a6937c;
      border: 0px; }
      .message .message_form button:hover {
        background-color: #FFF;
        color: #a6937c;
        -webkit-box-shadow: 0px 2px 8px #aaa;
        box-shadow: 0px 2px 8px #aaa; }
    .message .message_form .report_box {
      width: 50%;
      border-radius: 5px;
      border: 1px solid #a6937c;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 25%;
      margin-top: 25%;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
      display: none; }
      @media screen and (max-width: 767px) {
        .message .message_form .report_box {
          width: 80%;
          margin-left: 10%; } }
      .message .message_form .report_box .report_title {
        padding: 10px;
        background-color: #a6937c;
        position: relative;
        color: #fff; }
        @media screen and (max-width: 767px) {
          .message .message_form .report_box .report_title p {
            font-size: 16px; } }
        .message .message_form .report_box .report_title .close {
          position: absolute;
          right: 10px;
          top: 0;
          margin-top: 5px;
          font-size: 24px;
          cursor: pointer; }
          @media screen and (max-width: 767px) {
            .message .message_form .report_box .report_title .close {
              font-size: 20px;
              margin-top: 10px; } }
      .message .message_form .report_box .report_detail {
        padding: 10px;
        background-color: #fff; }
        @media screen and (max-width: 767px) {
          .message .message_form .report_box .report_detail p {
            font-size: 16px; } }
        .message .message_form .report_box .report_detail ul {
          padding: 20px; }
          .message .message_form .report_box .report_detail ul li {
            display: block; }
            @media screen and (max-width: 767px) {
              .message .message_form .report_box .report_detail ul li {
                font-size: 14px; } }
        .message .message_form .report_box .report_detail button {
          margin: auto;
          width: 100%; }
