

body{
	font-family:'微軟正黑體';
}


h1{
	font-size:38px;
}

h2{
	font-size:28px;
}

p{
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 26px;
}

.btn_green{
  font-family: Arial , '微軟正黑體';
  color: #ffffff;
  font-size: 18px;
  background: #699c33;
  padding: 10px 20px 10px 20px;
  border: solid #699c33 2px;
  text-decoration: none;
  cursor:pointer;
  letter-spacing: 1px;
  transition: .4s;
}

.btn_green:hover {
  background: #ffffff;
  text-decoration: none;
  color: #699c33;
  cursor:pointer;
  letter-spacing: 1px;
  transition: .4s;
}


.btn_blue{
  font-family: Arial , '微軟正黑體';
  color: #ffffff;
  font-size: 18px;
  background: #6cbecc;
  padding: 10px 20px 10px 20px;
  border: solid #6cbecc 2px;
  text-decoration: none;
  cursor:pointer;
  transition: .4s;
}

.btn_blue:hover {
  background: #ffffff;
  text-decoration: none;
  color: #6cbecc;
  cursor:pointer;
  transition: .4s;
}





.btn_brown{
  font-family: Arial , '微軟正黑體';
  color: #ffffff;
  font-size: 18px;
  background: #5a3819;
  padding: 10px 20px 10px 20px;
  border: solid #5a3819 2px;
  text-decoration: none;
  font-weight: bold;
  cursor:pointer;
  transition: .4s;
}

.btn_brown:hover {
  background: #ffffff;
  text-decoration: none;
  color: #5a3819;
  cursor:pointer;
  transition: .4s;
}