*{
  margin: 0;
  padding: 0;

}


a{
  text-decoration: none;
}
.header-img{
  max-width: 100%;
  width: auto;
  height: auto;
  display: inline-block;
}
.clear{
  clear: both;
}
p{
  /*font-size: 19px; */
  font-size: 100%;
  margin: 0;
  font-family:"Microsoft JhengHei";
  letter-spacing:1px;
}
.header-h6 {
  /*font-size: 19px; */
  font-size: 90%;
  margin: 0;
  font-family:"Microsoft JhengHei";
  letter-spacing:1px;
}
.header-h5 {
  /*font-size: 19px; */
  font-size: 100%;
  margin: 0;
  font-family:"Microsoft JhengHei";
  letter-spacing:1px;
}
.header-h4 {
  /*font-size: 19px; */
  font-size: 113%;
  margin: 0;
  color: #fff;
  font-family:"Microsoft JhengHei";
  letter-spacing:1px;
}
.header-h3 {
  /*font-size: 19px; */
  font-size: 119%;
  margin: 0;
  color: #fff;
  font-family:"Microsoft JhengHei";
  letter-spacing:1px;
}
.header-h2 {
  /*font-size: 25px; */
  font-size: 157%;
  margin: 0;
  color:#43612f;  
  font-family:"Microsoft JhengHei";
  letter-spacing:1px;
}
.header-h1{
  font-size:200%;
  margin: 0 auto;
  color:#43612f;  
  font-family:"Microsoft JhengHei";
  letter-spacing:1px;
}
.box{
  max-width: 1440px;
  margin: auto;
}
#header_none {
  margin: 0 auto; 
  opacity: 1;
  
}
.head-1{
  width: 100%;
  background-color: #699c33;
}
.head-1-text{
  margin: auto;
  width: 1440px;
  text-align: right;
}
.head-1-text a{

  display: inline-block;
  padding: 6px 10px 6px 10px;
}
.btn{
  display: none; 
}

.sidebar{
  display: none;
}
.active{
  margin-top: 90px;
  display: none;
}

/*////hamberger/////*/
.rwd-select{
  visibility: hidden;
  position: absolute;
}
.head-2{
  width: 100%;
  background-color: #ece7d4;
  margin: 0 auto;
}
.head-2-box:before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.head-2-box{
  text-align: center;
  width: 1440px;
  margin: auto;
}
.head-2-left {
  width: 37.5%;
  vertical-align: middle;
  display: inline-block;
  padding-left: 1.388888889%;
  float: left; 
  padding-bottom: 10px;
}
.head-2-right {
  width: 37.5%;
  vertical-align: middle;
  display: inline-block;
  padding-right: 1.388888889%;
  float: right; 
  padding-bottom: 10px;
}
.head-2 .head-2-item {
  display: inline-block;
  margin: 0 9.259259259%;
  /*width: 25.304%;*/
  height: 96px; 
  padding: 20px 0;
}
.head-3 {
  width: 20.972222222%;
  margin: 0 auto;
  margin-top:-134px; 
  left: 0;
  right: 0;
  z-index: 100;
  position: absolute;
  text-align: center;
}
.head-3 img{
  margin: 0 auto;
  
}
/*========fix_navbar==========*/
  
.fix_navbar{
  width: 100%;
  background-color: #ece7d4;
  margin: 0 auto;
  position: fixed;
    top: -200px;
    z-index: 900;
}
.fix_navbar-box:before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.fix_navbar-box{
  text-align: center;
  width: 1440px;
  margin: auto;
}
.fix_navbar-left {
  width: 21.5%;
  vertical-align: middle;
  display: inline-block;
  padding-left: 20.388889%;
  float: left; 
}
.fix_navbar-right {
  width: 21.5%;
  vertical-align: middle;
  display: inline-block;
  padding-right: 20.388889%;
  float: right; 
}
.fix_navbar .fix_navbar-item {
  display: inline-block;
  margin: 0 13.259259%;
  height: 96px; 
  padding: 20px 0;
}
.fix_navbar .fix_navbar-item h2{
  font-size: 16px;
}
.fix_navbar-3 {
  /*width: 8.333333333%;*/
  /*margin: 0 auto;*/
  position: absolute;
  /*top: 5px;*/
  left:50% ;
  margin-left: -60px;
}
/*=====//header===============*/
.backgroundimg{
  width: 100%;
  background-image:url('../src/image/hopefarm/footer.png');
  background-position: center bottom;
  background-repeat:no-repeat;
  background-size: 100%;
  position: relative;
  /*height: 10vh;*/
  overflow: hidden;
}
.footerTitle{
  width: 81.458333333%;
  margin:0 auto;
  padding-top:10%;
}
.footerTitle img{
  width: 35%;
  float:left;
}
.footerItemList{
  width: 70.972222222%;
  margin-left:15%;
  float:left;
  margin-top:-28px;
}
.footerItemList ul{
  padding:0;
  margin: 0;
  float:left;
  padding-right:9.784735812%;
}
.footerItemList ul li{
  list-style:none;
  padding-bottom:15px;
}
.footerIcon{
  float: right;
  position: absolute;
  bottom: 15%;;
  right: 15px;
}
.footerIcon img{
  display:inline-block;
}

/*=====//footer===============*/
@media screen and (max-width: 767px){
  h1{
        font-size:32px;
    }
    h3{
        font-size:28px;
    }
    h4{
        font-size:25px;
    }
    h4{
        font-size:22px;
    }
    h6{
        font-size:20px;
        color:#000;
    }


    .head-1{
        float: left; 
        width: 100%; 
        box-sizing: border-box; 
        padding: 0 10px;
    }
    .head-1-text{
        display: none;
    }
    /*li hover怎麼連動裡面的字變色*/
    .btn{
    display: block;
    width: 100%;
    height: 53px;

    /*background-color: #f00;*/
    }

    .sidebar{
        display: block;
        margin-top:69px;
        width: 38.986962%%;
        height: 630px;
        background-color:#ece7d4;
        /*background-color: rgba(0, 0, 0, 0.83);*/
        font-family: "Microsoft JhengHei";
        position: absolute;
        z-index: 101;
        left: -100%;
        transition: .3s;
    }
    .active{
        left: 0%;
        transition: .3s;
    }
    .sidebar li{
        padding: 15px;
    }
    .sidebar li a{
        text-decoration: none;
        
    }
    .sidebar h3{
        color: #b0cd8f;
        text-align: center;
    }
    .sidebar h6{
        color: #b0cd8f;
        text-align: center;
    }
    .sidebar li h3:hover{
        /*background-color: green;*/
        color: #699c33;
        cursor: pointer;
    }
    .sidebar li h6:hover{
        /*background-color: green;*/
        color: #699c33;
        cursor: pointer;
    }
    .starbtn{
        width: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        position: absolute;
        left: 0.5%;
        visibility:visible;
        margin-top: 35px;
    }

    .starbtn span{
        width: 40px;
        height: 3px;
        background-color: #699c33;
        position: absolute;
        left: 25%;
        top: 5%;
    }

    .starbtn span:before{
        content: '';
        width: 40px;
        height: 3px;
        background-color: #699c33;
        position: absolute;
        /*left: 0px;*/
        top: -10px;
         transition: .3s;
    }

    .starbtn span:after{
        content: '';
        width: 40px;
        height: 3px;
        background-color: #699c33;
        position: absolute;
        /*left: 0px;*/
        top: 10px;
        transition: .3s;
    }

    .btn-sidebar.toggle span{
        background-color: transparent;
        
    }
    .btn-sidebar.toggle span:before{
        top: 0px;
        transform: rotate(45deg);
    }
    .btn-sidebar.toggle span:after{
        top: 0px;
        transform: rotate(-45deg);
    }
/*/////hamberger///////*/
    .head-2{

        z-index: 99;
        width: 100%;
        background-color: #ece7d4;
        height: 70px;
        margin: 0 auto;
        float: left;
    }
    .head-2-box{
        display: none;
    }
    .head-3{
        /*background-color: pink;*/
        width: 30%;
        margin: 0 auto;
        /*margin-top: -50px;  pon*/
        margin-left: 34.289439374%;
        float: left;
        /*position: relative; pon */
        position: absolute;
    }
    /*===========fix_navbar=========*/
    .fix_navbar{
        display: none;
    }
    .fix_navbar-3{
        display: none;
    }
    /*=======///head=========*/
    

    .rwd-select{
        visibility: visible;
        width: 100%;
        box-sizing: border-box;
        margin-top: 30px;
    }
    .rwd-select ul li{
        width: 24.48%;
        display: inline-block;
        background-color: #699c33;
    }
    .rwd-select h1{
        text-align: center;
        padding: 5px 0;
    }

/*====///header======*/
    .footerTitle{
        padding-top:10%;
    }
    .footerTitle img{
      width: 60%;
    }
    .footerItemList{
        visibility: hidden;
        position: absolute;
    }
    .footerIcon{
        bottom: 15px;
        text-align:right;
        right: 5px;
    }
    .footerIcon img{
        width: 10%;
    }

}
@media screen and (min-width: 768px) and (max-width: 1399px){
    .head-1-text {
      width: 100%;
    }
    .head-2-box{
        width: 100%
    }
     .head-2-left {
      width: 31%;
    }
    .head-2-right {
      width: 31%;
      
    }
    .head-2 .head-2-item {
      width: 30%;
    }   
    .head-2 .head-2-item h2{
        font-size: 16px;
    }
    /*====fix_navbar=====*/

    .fix_navbar-box{
        width: 100%
    }
     .fix_navbar-left {
      width: 32.5%;
      padding-left: 9.388889%;
    }
    .fix_navbar-right {
      width: 32.5%;
      padding-right: 9.388889%;
      
    }
    .fix_navbar .fix_navbar-item {
      width: 28%;
      margin: 0 10.259259%;
    }  

    footer{
       width: 100%; 
       /*box-sizing: border-box;*/
    }
    .footerTitle{
      padding-top:10%;

    }
    .footerItemList{
      width: 60%;
      padding-top: 8px;
    }
    .footerItemList ul li h3{
      font-size: 55%;
    }
    .footerItemList ul li{
      padding-bottom: 7px;
    }
    .footerIcon{
      width: 9.29%;
      padding-right: 0px;
      margin-top: 23px;
    }
    .footerIcon img{
      width: 24%;
    }
}
