@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../src/image/cart/cart-bg.png"); }

.containerhope {
  font-family: '微軟正黑體'; }
  .containerhope h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold; }
  .containerhope h3 {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: normal; }
  .containerhope h4 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal; }
  .containerhope p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 26px;
    color: #595959;
    font-weight: normal; }
  .containerhope a {
    text-decoration: none;
    color: #2b2b2b; }
  .containerhope li {
    list-style: none; }
  .containerhope img {
    width: 100%;
    display: inline-block; }
  .containerhope .cleare {
    clear: both; }
  .containerhope .view {
    width: 100%;
    background-image: url("../src/image/hopeFarm/firstBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: 100%; }
    .containerhope .view .view_container {
      max-width: 1440px;
      margin: 0 auto;
      position: relative; }
      .containerhope .view .view_container .cloulds {
        margin: 0 auto;
        float: left;
        width: 41%;
        top: 20%; }
        .containerhope .view .view_container .cloulds .cloulds-1 img {
          float: right;
          width: 20%;
          bottom: 18%;
          position: absolute;
          -webkit-animation: clou 20s -1s linear infinite alternate;
          animation: clou 20s -1s linear infinite alternate; }
        .containerhope .view .view_container .cloulds .cloulds-2 img {
          width: 18%;
          left: 28%;
          position: absolute;
          bottom: 38%;
          -webkit-animation: clouds2top 2s infinite alternate, cloudsa 30s -1s infinite alternate;
          animation: clouds2top 2s infinite alternate, cloudsa 30s -1s infinite alternate; }
        .containerhope .view .view_container .cloulds .cloulds-3 {
          width: 10%;
          bottom: 25%;
          left: 6%;
          position: absolute;
          -webkit-animation: clou3 50s -1s infinite alternate , clouds3bottom 2s -1s infinite alternate;
          animation: clou3 50s -1s infinite alternate , clouds3bottom 2s -1s infinite alternate; }

@-webkit-keyframes clou {
  0% {
    left: 0%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  100% {
    left: 90%;
    -webkit-transform: scale(0);
    transform: scale(0); } }

@keyframes clou {
  0% {
    left: 0%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  100% {
    left: 90%;
    -webkit-transform: scale(0);
    transform: scale(0); } }

@-webkit-keyframes cloudsa {
  0% {
    left: 27.777777778%; }
  100% {
    left: 62.5%; } }

@keyframes cloudsa {
  0% {
    left: 27.777777778%; }
  100% {
    left: 62.5%; } }

@-webkit-keyframes clouds2top {
  0% {
    top: 5%; }
  100% {
    top: 10%; } }

@keyframes clouds2top {
  0% {
    top: 5%; }
  100% {
    top: 10%; } }

@-webkit-keyframes clou3 {
  0% {
    left: 10%; }
  100% {
    left: 30%; } }

@keyframes clou3 {
  0% {
    left: 10%; }
  100% {
    left: 30%; } }

@-webkit-keyframes clouds3bottom {
  0% {
    bottom: 35%; }
  100% {
    bottom: 33%; } }

@keyframes clouds3bottom {
  0% {
    bottom: 35%; }
  100% {
    bottom: 33%; } }
      .containerhope .view .view_container .for_h2 {
        width: 43%;
        margin-top: 19%;
        margin-right: 16%;
        float: right;
        margin-bottom: 20%; }
        .containerhope .view .view_container .for_h2 h2 {
          width: 100%;
          float: right;
          margin: 1%;
          color: #fff;
          font-weight: normal; }
  .containerhope .hopefarmrwd-select {
    display: none; }
  .containerhope .latest {
    max-width: 1440px;
    margin: 0 auto;
    position: relative; }
    .containerhope .latest .latest_title {
      width: 30%;
      left: 0;
      right: 0;
      margin: 0 auto; }
      .containerhope .latest .latest_title h2 {
        text-align: center; }
    .containerhope .latest .latest_cloud img {
      float: right;
      width: 12%;
      left: 76%;
      top: -60.2%;
      position: absolute;
      -webkit-animation: clouds4 30s -1s infinite alternate , clouds5 4s -1s infinite alternate;
      animation: clouds4 30s -1s infinite alternate , clouds5 4s -1s infinite alternate; }

@-webkit-keyframes clouds4 {
  0% {
    left: 69.444444444%; }
  100% {
    left: 86.583333333%; } }

@keyframes clouds4 {
  0% {
    left: 69.444444444%; }
  100% {
    left: 86.583333333%; } }

@-webkit-keyframes clouds5 {
  0% {
    top: -40%; }
  100% {
    top: -30%; } }

@keyframes clouds5 {
  0% {
    top: -40%; }
  100% {
    top: -30%; } }
    .containerhope .latest .carousel .carousel_container {
      width: 80%;
      margin: auto; }
      .containerhope .latest .carousel .carousel_container .carouselson {
        background-color: #fff;
        width: 88%;
        float: left;
        border-radius: 38px;
        position: relative; }
        .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow {
          width: 96%;
          float: left;
          left: 0;
          right: 0;
          margin: 2% 2%; }
          .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_left {
            float: left;
            width: 50%; }
            .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_left img {
              width: 100%;
              border-radius: 21px; }
          .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_right {
            width: 49%;
            float: left;
            margin-left: 1%; }
            .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_right p {
              margin-top: 20%; }
            .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_right .bar {
              width: 46%;
              border: 1px solid #699c33;
              background-color: #fff;
              padding: 0.4%;
              border-radius: 28px;
              position: absolute;
              bottom: 27%; }
              .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_right .bar .inside-bar {
                width: 60%;
                height: 10px;
                background-color: #699c33;
                border-radius: 28px; }
            .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_right h3 {
              display: inline-block;
              margin-top: 1%;
              position: absolute;
              bottom: 21%; }
            .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_right h3:last-child {
              padding-right: 2%;
              position: absolute;
              right: 0%; }
          .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_btn {
            width: 26%;
            margin: auto;
            margin-top: 4%;
            text-align: center; }
            .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_btn h2 {
              font-family: Arial , '微軟正黑體';
              color: #ffffff;
              background: #6cbecc;
              padding: 5% 7% 5% 7%;
              border: solid #6cbecc 2px;
              text-decoration: none;
              cursor: pointer;
              letter-spacing: 1px;
              -webkit-transition: .4s;
              -o-transition: .4s;
              transition: .4s; }
            .containerhope .latest .carousel .carousel_container .carouselson .carousel_shadow .c_btn h2:hover {
              background: #ffffff;
              text-decoration: none;
              color: #6cbecc;
              cursor: pointer;
              letter-spacing: 1px;
              -webkit-transition: .4s;
              -o-transition: .4s;
              transition: .4s; }
    .containerhope .latest .carousel .slick-prev {
      left: -54px; }
    .containerhope .latest .carousel .slick-next {
      right: -34px; }
    .containerhope .latest .carousel .slick-next:before {
      color: green;
      font-size: 37px; }
    .containerhope .latest .carousel .slick-prev:before {
      color: green;
      font-size: 37px; }
    .containerhope .latest .c4 {
      display: none; }
  .containerhope .purpose {
    max-width: 1440px;
    margin: auto;
    margin-top: 10%; }
    .containerhope .purpose .purpose_img {
      width: 80%;
      margin: auto; }
    .containerhope .purpose .purpose_txt {
      width: 60%;
      margin: auto;
      margin-top: -7%; }
      .containerhope .purpose .purpose_txt h2 {
        text-align: center;
        padding-bottom: 20px; }
      .containerhope .purpose .purpose_txt h3 {
        font-size: 28px; }
        .containerhope .purpose .purpose_txt h3:nth-child(2):before {
          content: '';
          width: 10px;
          height: 10px;
          display: inline-block;
          background-color: #699c33;
          border-radius: 50px;
          vertical-align: middle;
          margin-top: -5px; }
        .containerhope .purpose .purpose_txt h3:nth-child(2) {
          padding-bottom: 2px; }
        .containerhope .purpose .purpose_txt h3:nth-child(3) {
          padding-bottom: 15px; }
        .containerhope .purpose .purpose_txt h3:nth-child(4):before {
          content: '';
          width: 10px;
          height: 10px;
          display: inline-block;
          background-color: #699c33;
          border-radius: 50px;
          vertical-align: middle;
          margin-top: -5px; }
        .containerhope .purpose .purpose_txt h3:nth-child(4) {
          padding-bottom: 2px; }
        .containerhope .purpose .purpose_txt h3:nth-child(5) {
          padding-bottom: 15px; }
        .containerhope .purpose .purpose_txt h3:nth-child(6):before {
          content: '';
          width: 10px;
          height: 10px;
          display: inline-block;
          background-color: #699c33;
          border-radius: 50px;
          vertical-align: middle;
          margin-top: -5px; }
  .containerhope .section04 {
    max-width: 1440px;
    margin-top: 4%;
    margin: auto; }
    .containerhope .section04 .section04-g4-left {
      width: 14%;
      float: left;
      margin-top: -1%;
      margin-left: 5%; }
    .containerhope .section04 .section04-g4-right {
      width: 15%;
      float: right;
      margin-top: -1%;
      margin-right: 6%; }
  .containerhope .bookmark {
    max-width: 1440px;
    margin: auto;
    margin-top: 10%; }
    .containerhope .bookmark .mark_title {
      margin-bottom: 4%; }
      .containerhope .bookmark .mark_title ul {
        text-align: center; }
        .containerhope .bookmark .mark_title ul li {
          width: 10%;
          display: inline-block;
          margin: auto;
          border-right: 9px solid #fff;
          border: 2px solid #699c33;
          font-family: Arial , '微軟正黑體';
          font-size: 24px;
          color: #699c33;
          background: #ffffff;
          padding: 10px 20px 10px 20px;
          margin: 0 0.5%;
          cursor: pointer;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          text-align: center; }
          .containerhope .bookmark .mark_title ul li:hover {
            background: #699c33;
            border-right: 9px solid #fff;
            border: 2px solid #699c33;
            color: #ffffff;
            cursor: pointer;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s; }
        .containerhope .bookmark .mark_title ul .active01 {
          background: #699c33;
          border-right: 9px solid #fff;
          border: 2px solid #699c33;
          color: #ffffff;
          cursor: pointer;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
      .containerhope .bookmark .mark_title img {
        left: 0;
        right: 0;
        margin: 0 9.889236111%;
        width: 80%; }
    .containerhope .bookmark .mark_container {
      display: none; }
      .containerhope .bookmark .mark_container .mark_item {
        margin: auto; }
        .containerhope .bookmark .mark_container .mark_item a .item-box {
          position: relative; }
          .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow {
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 5px 0px #ccc;
            box-shadow: 0px 0px 5px 0px #ccc;
            border-radius: 38px;
            border: 1px solid transparent; }
            .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow:hover {
              border: 1px solid #699c33; }
            .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-img {
              padding: 4%;
              position: relative; }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-img .box-imgToHover {
                overflow: hidden;
                border-radius: 37px; }
                .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-img .box-imgToHover .imgToHover {
                  -webkit-transition: all 1.5s;
                  -o-transition: all 1.5s;
                  transition: all 1.5s;
                  overflow: hidden; }
                  .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-img .box-imgToHover .imgToHover:hover {
                    -webkit-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    transform: scale(1.5); }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-img .square {
                width: 18%;
                height: 18%;
                border: 1px solid #699c33;
                background-color: #fff;
                position: absolute;
                bottom: -5%;
                left: -15px;
                border-radius: 0 18px 18px 0; }
                .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-img .square img {
                  border-radius: 0;
                  width: 80%;
                  margin: auto;
                  margin-top: 9%;
                  margin-left: 9%;
                  border-radius: 0 18px 18px 0; }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-img .square:before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 11px 15px;
                border-color: transparent transparent #699c33 transparent;
                position: absolute;
                top: -11px;
                left: -1px; }
            .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt {
              padding: 4%;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              float: left;
              padding-bottom: 6%;
              margin-top: -5%; }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .txt_name {
                margin-left: 18%; }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .txt_title {
                width: 100%;
                margin-top: 5%; }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .JQellipsis {
                padding-top: 1%; }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .bar {
                width: 99%;
                border: 1px solid #699c33;
                background-color: #fff;
                padding: 0.4%;
                margin-top: 2%;
                border-radius: 28px; }
                .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .bar .inside-bar {
                  width: 60%;
                  height: 10px;
                  background-color: #699c33;
                  border-radius: 28px; }
              .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt h4:last-child {
                width: 50%;
                padding-right: 0; }
        .containerhope .bookmark .mark_container .mark_item a:nth-child(4) .item-box {
          margin-top: 10%; }
        .containerhope .bookmark .mark_container .mark_item a:nth-child(5) .item-box {
          margin-top: 10%; }
        .containerhope .bookmark .mark_container .mark_item a:nth-child(6) .item-box {
          margin-top: 10%; }
    .containerhope .bookmark .c1 .mark_item a .item-box .item-box-shadow .box-fontt h4 {
      width: 48%;
      float: left;
      padding-right: 28%; }
    .containerhope .bookmark .c1 .mark_item a .item-box .item-box-shadow .box-fontt h4:last-child {
      width: 24%;
      padding-right: 0; }
    .containerhope .bookmark .c4 {
      display: none; }
    .containerhope .bookmark .active01 {
      display: block; }
    .containerhope .bookmark .mark_deco {
      width: 22%;
      float: left; }
    .containerhope .bookmark .mark_more {
      width: 30%;
      padding-top: 2%;
      margin: auto;
      text-align: center; }
      .containerhope .bookmark .mark_more img {
        width: 17%;
        vertical-align: middle; }
      .containerhope .bookmark .mark_more h3 {
        display: inline-block;
        vertical-align: middle; }
    .containerhope .bookmark .mark_more:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  .containerhope .risk {
    max-width: 1440px;
    margin: auto;
    text-align: center; }
    .containerhope .risk .risk_title {
      width: 100%;
      text-align: center;
      display: inline-block; }
  .containerhope .risk_container {
    margin: auto;
    position: relative; }
    .containerhope .risk_container .risk_range {
      max-width: 1440px;
      margin: auto; }
      .containerhope .risk_container .risk_range .risk_txt {
        width: 71%;
        margin: auto;
        padding-top: 1%; }
      .containerhope .risk_container .risk_range .risk_img {
        width: 4%;
        right: 28%;
        position: absolute;
        -webkit-animation: duck 2s -1s  infinite alternate , ducks 100s -1s infinite;
        animation: duck 2s -1s  infinite alternate , ducks 100s -1s infinite; }

@-webkit-keyframes duck {
  0% {
    top: 0%; }
  100% {
    top: 5%; } }

@keyframes duck {
  0% {
    top: 0%; }
  100% {
    top: 5%; } }

@-webkit-keyframes ducks {
  0% {
    left: 75.694444444%; }
  100% {
    left: 98%; } }

@keyframes ducks {
  0% {
    left: 75.694444444%; }
  100% {
    left: 98%; } }
  .containerhope .stone_img {
    margin: auto;
    width: 5%;
    padding-top: 2%;
    padding-left: 34%; }

@media screen and (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-2 {
    float: left;
    width: 16.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-3 {
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-4 {
    float: left;
    width: 33.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-5 {
    float: left;
    width: 41.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-6 {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-7 {
    float: left;
    width: 58.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-8 {
    float: left;
    width: 66.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-9 {
    float: left;
    width: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-10 {
    float: left;
    width: 83.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-11 {
    float: left;
    width: 91.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-sm-12 {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .containerhope .risk_container .risk_range .risk_img img {
    display: none; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .col-xs-1 {
    float: left;
    width: 8.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-2 {
    float: left;
    width: 16.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-3 {
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-4 {
    float: left;
    width: 33.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-5 {
    float: left;
    width: 41.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-6 {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-7 {
    float: left;
    width: 58.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-8 {
    float: left;
    width: 66.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-9 {
    float: left;
    width: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-10 {
    float: left;
    width: 83.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-11 {
    float: left;
    width: 91.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .col-xs-12 {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }
  .containerhope {
    font-family: '微軟正黑體';
    margin: 18% 0 0 0; }
    .containerhope h2 {
      font-size: 34px;
      letter-spacing: 2px;
      font-weight: bold;
      color: #161616; }
    .containerhope h3 {
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: bold;
      color: #555555; }
    .containerhope .view {
      display: none; }
      .containerhope .view .view_container .cloulds {
        display: none; }
      .containerhope .view .view_container .for_h2 h2 {
        display: none; }
    .containerhope .hopefarmrwd-select {
      display: block;
      width: 100%;
      top: -1%;
      position: fixed;
      background-color: #ece7d4;
      z-index: 98;
      margin: auto; }
      .containerhope .hopefarmrwd-select ul {
        padding: 67px 0 1px 0;
        background-color: #ece7d4;
        text-align: center; }
        .containerhope .hopefarmrwd-select ul a li {
          display: inline-block;
          display: inline-block;
          border: 1px solid #699c33;
          background-color: #ffffff;
          cursor: pointer;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          text-align: center;
          padding: 0 0; }
          .containerhope .hopefarmrwd-select ul a li h2 {
            font-size: 5vw;
            font-family: Arial , '微軟正黑體';
            color: #699c33;
            padding: 10px 0 10px 0;
            text-decoration: none;
            letter-spacing: 2px; }
        .containerhope .hopefarmrwd-select ul .active01 {
          background-color: #699c33;
          border: 1px solid #699c33;
          color: #ffffff;
          cursor: pointer;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
          .containerhope .hopefarmrwd-select ul .active01 h2 {
            color: #ffffff; }
    .containerhope .latest .latest_title {
      display: none; }
    .containerhope .latest .latest_cloud {
      display: none; }
    .containerhope .latest .carousel {
      display: none; }
    .containerhope .purpose {
      margin-top: 58px; }
      .containerhope .purpose .purpose_img {
        width: 100%; }
      .containerhope .purpose .purpose_txt {
        width: 90%; }
        .containerhope .purpose .purpose_txt h2 {
          font-size: 38px; }
        .containerhope .purpose .purpose_txt h3 {
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          font-size: 25px; }
          .containerhope .purpose .purpose_txt h3:nth-child(2):before {
            content: '';
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #699c33;
            border-radius: 50px;
            vertical-align: middle;
            margin-top: -5px; }
          .containerhope .purpose .purpose_txt h3:nth-child(2) {
            padding-bottom: 2px; }
          .containerhope .purpose .purpose_txt h3:nth-child(3) {
            padding-bottom: 15px; }
          .containerhope .purpose .purpose_txt h3:nth-child(4):before {
            content: '';
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #699c33;
            border-radius: 50px;
            vertical-align: middle;
            margin-top: -5px; }
          .containerhope .purpose .purpose_txt h3:nth-child(4) {
            padding-bottom: 2px; }
          .containerhope .purpose .purpose_txt h3:nth-child(5) {
            padding-bottom: 15px; }
          .containerhope .purpose .purpose_txt h3:nth-child(6):before {
            content: '';
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #699c33;
            border-radius: 50px;
            vertical-align: middle;
            margin-top: -5px; }
    .containerhope .bookmark .mark_title {
      display: none; }
    .containerhope .bookmark .mark_container .mark_item a .item-box {
      margin-bottom: 5%; }
      .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow {
        -webkit-box-shadow: 0 0 8px 0 #ccc;
        box-shadow: 0 0 8px 0 #ccc; }
        .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .txt_name {
          margin-left: 13%;
          margin-top: -9px;
          font-size: 4vw; }
        .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .txt_title {
          font-size: 8vw;
          margin-bottom: 2px; }
        .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .JQellipsis {
          font-size: 5vw;
          letter-spacing: 2px;
          line-height: 160%; }
        .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt .bar {
          margin-top: 10px; }
        .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt h4 {
          font-size: 23px;
          padding-right: 0;
          width: 100%;
          text-align: center;
          margin-top: 10px; }
          .containerhope .bookmark .mark_container .mark_item a .item-box .item-box-shadow .box-fontt h4:last-child {
            width: 100%;
            margin-top: 2px; }
    .containerhope .bookmark .mark_container .mark_deco img {
      display: none; }
    .containerhope .bookmark .mark_container .mark_more {
      width: 50%; }
      .containerhope .bookmark .mark_container .mark_more img {
        width: 20%; }
    .containerhope .risk {
      margin-top: 20%; }
      .containerhope .risk .risk_title h2 {
        font-size: 28px; }
    .containerhope .risk_container .risk_range {
      padding: 0 3%; }
      .containerhope .risk_container .risk_range .risk_txt {
        width: 100%;
        margin-top: 10px; }
        .containerhope .risk_container .risk_range .risk_txt p {
          letter-spacing: 2px;
          line-height: 160%; }
          .containerhope .risk_container .risk_range .risk_txt p:before {
            content: '';
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #699c33;
            border-radius: 50px;
            vertical-align: middle;
            margin-top: -5px; }
          .containerhope .risk_container .risk_range .risk_txt p:nth-child(2) {
            margin-top: 10px; }
          .containerhope .risk_container .risk_range .risk_txt p:nth-child(3) {
            margin-top: 10px; }
          .containerhope .risk_container .risk_range .risk_txt p:nth-child(4) {
            margin-top: 10px; }
          .containerhope .risk_container .risk_range .risk_txt p:nth-child(5) {
            margin-top: 10px; }
      .containerhope .risk_container .risk_range .risk_img img {
        display: none; } }
