.lightbox-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101; }
  .lightbox-bg .lightbox-target {
    background-color: #F6F7ED;
    max-width: 400px;
    height: 500px;
    border-radius: 5% 30%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: right; }
    .lightbox-bg .lightbox-target .wrapper {
      margin: 50px auto;
      width: 100px; }
      .lightbox-bg .lightbox-target .wrapper .button-block {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;
        display: block;
        position: relative;
        border: 19px solid #F0544E;
        box-sizing: border-box;
        transition: border 600ms ease-in-out;
        outline: none; }
        .lightbox-bg .lightbox-target .wrapper .button-block .button-x {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 30px;
          height: 30px;
          background: transparent;
          border: 0;
          margin: -11px 0 0 -14px;
          outline: none;
          cursor: pointer; }
          .lightbox-bg .lightbox-target .wrapper .button-block .button-x .mark {
            background-color: #fff;
            position: absolute;
            height: 20px;
            width: 3px;
            display: block;
            top: 0;
            transition: all 600ms ease-in-out; }
          .lightbox-bg .lightbox-target .wrapper .button-block .button-x .x {
            right: 14px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            outline: none; }
          .lightbox-bg .lightbox-target .wrapper .button-block .button-x .xx {
            left: 12px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            outline: none; }
    .lightbox-bg .lightbox-target .cancel {
      margin: auto;
      height: 10px;
      margin-top: 6px;
      right: -45%;
      position: relative; }
    .lightbox-bg .lightbox-target h2 {
      font-size: 32px;
      padding-top: 6%;
      color: #699c33; }
    .lightbox-bg .lightbox-target .login-content {
      margin: auto;
      max-width: 300px;
      text-align: center; }
      .lightbox-bg .lightbox-target .login-content .login-account {
        width: 200px;
        display: inline-block;
        height: 20px;
        text-align: left; }
        .lightbox-bg .lightbox-target .login-content .login-account p {
          padding-top: 14px;
          padding-right: 10px;
          display: inline-block;
          vertical-align: bottom;
          color: #61ABD4; }
        .lightbox-bg .lightbox-target .login-content .login-account input {
          width: 200px;
          height: 20px;
          background-color: #F6F7ED;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #ccc;
          letter-spacing: 1px;
          transition: 0.4s; }
        .lightbox-bg .lightbox-target .login-content .login-account input:focus {
          outline: none;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .login-pws {
        width: 200px;
        height: 20px;
        display: inline-block;
        text-align: left; }
        .lightbox-bg .lightbox-target .login-content .login-pws p {
          padding-top: 14px;
          padding-right: 10px;
          display: inline-block;
          vertical-align: bottom;
          line-height: 20px;
          color: #61ABD4; }
        .lightbox-bg .lightbox-target .login-content .login-pws input {
          width: 200px;
          height: 20px;
          background-color: #F6F7ED;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #ccc;
          letter-spacing: 1px;
          transition: 0.4s; }
        .lightbox-bg .lightbox-target .login-content .login-pws input:focus {
          outline: none;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .forget {
        width: 200px;
        text-align: right;
        margin: auto; }
        .lightbox-bg .lightbox-target .login-content .forget a {
          font-size: 12px;
          color: #777;
          text-decoration: none;
          cursor: pointer; }
      .lightbox-bg .lightbox-target .login-content .btn_green {
        width: 200px;
        display: inline-block;
        margin: auto;
        background-color: #699c33;
        padding: 6px 10px;
        color: #fff;
        font-size: 14px;
        font-family: Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        vertical-align: middle;
        margin-top: 3%;
        border: none;
        box-sizing: border-box;
        border: 1px solid #699c33;
        transition-duration: 0.4s; }
      .lightbox-bg .lightbox-target .login-content .btn_green:hover {
        -webkit-transform: 0 0 2px;
        -ms-transform: 0 0 2px;
        transform: 0 0 2px;
        background-color: #F6F7ED;
        border: 1px solid #699c33;
        color: #699c33;
        cursor: pointer; }
      .lightbox-bg .lightbox-target .login-content .forgot_psw {
        display: none; }
  .lightbox-bg .login-bee {
    position: relative;
    bottom: -20px;
    right: -72%;
    width: 50%; }

.login-clear {
  clear: both; }

@media all and (max-width: 767px) {
  .lightbox-bg .lightbox-target {
    z-index: 999;
    width: 90%; } }
