	*{
		margin:0px;
		padding:0px;
		
	}
	body{
  	
		margin:0;
		background-image:url('../src/image/event/23167-nupqqc-02.png');
	  	background-repeat: repeat;
	}
	h2{
		color: #699c33;
	}

	@keyframes rot {
	0% {
	    -moz-transform: translate(-50%, -50%) rotate(0deg);
	    -ms-transform: translate(-50%, -50%) rotate(0deg);
	    -webkit-transform: translate(-50%, -50%) rotate(0deg);
	    transform: translate(-50%, -50%) rotate(0deg); }
	100% {
	    -moz-transform: translate(-50%, -50%) rotate(360deg);
	    -ms-transform: translate(-50%, -50%) rotate(360deg);
	    -webkit-transform: translate(-50%, -50%) rotate(360deg);
	    transform: translate(-50%, -50%) rotate(360deg); } }
	.table img{
		border-radius: 50%;
		overflow: hidden;
	}
	
	
	.titlebg img{
		width: 100%;
		height: 50%;
	}
	
	.btnbox{
		margin: 6% auto;
		text-align: center;
	}
	.btnbox a{
		font-family: Arial;
		color: #ffffff;
		font-size: 18px;
		border-radius: 6px;
		background: #699c33;
		padding: 10px 20px 10px 20px;
		border: solid #699c33 2px;
	  	text-decoration: none;
	  
	}

	.btnbox a:hover {
		background: #ffffff;
		text-decoration: none;
		color: #699c33;
	}
	
	
	.table{
		text-align: center;
		margin: 0 auto;
		background-color: rgba(255, 255, 255, .9);
		margin-top: 4%;
		width: 80%;
		max-width: 600px;
		padding: 2%;
		border-radius: 4%;
		/* border: 1px blue solid; */

	}
	table{
		margin: 0 auto;

	}
	td{
		text-align: right;
		padding: 2px 2vw;
		font-size: 18px;
	letter-spacing: 1px;
	line-height: 26px;
		/* font-max-size: 10px; */
		/* 	padding-bottom: 2px; */
		/* background-color: blue; */
	}
	@media screen and (max-width: 767px) {
		td{
		
		font-size: 12px;
		/* font-max-size: 10px; */
		/* 	padding-bottom: 2px; */
		/* background-color: blue; */
	}
	}
	
	td p {
		text-align: center;
	}
	th{
		/* font-size: 24px; */
		border-bottom: 1px solid #699c33;
		/* text-align: right; */
	}

	tr{
		margin: 0 auto;
		/* width: 100%; */
	}
	.mem{
	/* background-image:url('../src/image/member/greenbg2.png');
	background-size: 90%; */
	position: relative;
	}
	.table h2{
		margin-bottom: 10px;

	}
	.bigtitle{
		text-align: center;
		padding: 2% 0;
		letter-spacing: 6px;
		
	}
	.navbarli{
		display: inline-block;
		font-size: 24px;
		background-color: #fff;
		color: #699c33;
		padding:2px 2vw ;
		/* border-radius: 10%; */
		/* margin: 0 2%; */
		/* width: 100%; */
	}
	.navbarli:hover{
		background-color:#699c33;
		color: #fff;
		transition: .5s;
	}
	.navbar{
		text-align: center;
		width: 100%;
	}

	input{border-radius: 6px;
	outline: none;
	border: none;
	padding: 5px;
	background-color: rgba(105, 156, 51, .2);
    }
	.parallax{
		position: absolute;
		width: 100%;
		z-index: -1;
		margin: 0 auto;
		left: 50%;
	/* 	right: 50%; */
		top: 250px;
	}
	.parallax_area img{
		width:50vw;
		animation: 150s linear rot infinite;
	}
	/* .parallax_area_01{
		position: relative;
		top: 20%;
		right: 30%;
	} */
	@media screen and (max-width: 767px) {
		.parallax{
		visibility: hidden;
	}
	}
	/* .parallax_area_01{
		position:relative;
		z-index: -1;
		right: 50%;
		top:30%;
	} */
	/* .parallax_area_02{
		position: absolute;
		
		z-index: -1;
		right: 20%;
		top:30%;
	}

 */


	