	*{
		margin:0px;
		padding:0px;
		
	}
	body{
  		font-family: '正黑體';
		margin:0;
		background-image:url('../src/image/event/23167-nupqqc-02.png');
	  	background-repeat: repeat;
	}
	h2{
		font-size: 40px;
		color:#00802b;
		font-weight: bold;

	}
	
	
	
	
	.btnbox{
		margin-top: 1%;
	}
	.btn {
		font-family: Arial;
		color: #ffffff;
		font-size: 18px;
		border-radius: px;
		background: #699c33;
		padding: 10px 20px 10px 20px;
		border: solid #699c33 2px;
	  	text-decoration: none;
	}

	.btn:hover {
		background: #ffffff;
		text-decoration: none;
		color: #699c33;
	}
	.tableinput{
		width: 100%;
		text-align: center;
		margin-bottom: 2%;
		margin-top: 2%;
	}
	.tableinput input{
		border-radius: 6px;
		outline: none;
		border: none;

		padding:5px;
		background-color: rgba(105,156,51,.6);
	}
	
	.table{
		text-align: center;
		margin: 0 auto;
		background-color: #fff;
		margin-top: 10%;
		/* box-shadow: 1px 1px 1px #000; */
		width: 80%;
		max-width: 500px;
		padding: 2%;
	}
	span{
		font-size: 20px;
		margin-right: 20px;
	}
