@charset "UTF-8";
body {
  font-family: "微軟正黑體"; }

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 44px;
    border: 2px solid blue; } }
@media only screen and (min-width: 767px) and (max-width: 1440px) {
  h1 {
    font-size: 2.7vw;
    border: 2px solid red; } }
@media only screen and (max-width: 766px) {
  h1 {
    font-size: 26px;
    border: 2px solid orange; } }

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 40px;
    border: 2px solid blue; } }
@media only screen and (min-width: 767px) and (max-width: 1440px) {
  h2 {
    font-size: 3vw;
    border: 2px solid red; } }
@media only screen and (max-width: 766px) {
  h2 {
    font-size: 18px;
    border: 2px solid orange; } }

p {
  font-size: 18px; }
  @media only screen and (max-width: 766px) {
    p {
      font-size: 1em; } }

img {
  width: 100%;
  vertical-align: top; }

.ccc {
  clear: both; }

/* 遮雨棚 */
.pro_tent {
  position: relative; }
  @media only screen and (max-width: 766px) {
    .pro_tent div {
      transform: scale(1.9, 1.8); } }
  .pro_tent div img {
    width: 100%; }
  .pro_tent h1 {
    position: absolute;
    margin: auto;
    top: 68%;
    right: 0;
    left: 0;
    text-align: center; }

.container {
  overflow: hidden; }

@media only screen and (max-width: 766px) {
  .mobileHidden {
    display: none; }

  .pro_s_white {
    display: none; }

  .pro_s_mobileInfo {
    display: block; } }
/* 種子市場 */
.pro_seed {
  /*背景圖大小 1770*1337*/
  background-image: url("../src/image/product/pro-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* 商品區(種子)*/ }
  .pro_seed .pro_s_cabinet {
    margin: auto;
    list-style: none;
    border: 10px solid #6D5844;
    margin-top: 10%; }
    @media only screen and (min-width: 1440px) {
      .pro_seed .pro_s_cabinet {
        width: 1440px; } }
    @media only screen and (min-width: 767px) and (max-width: 1440px) {
      .pro_seed .pro_s_cabinet {
        width: 100%;
        box-sizing: border-box; } }
    @media only screen and (max-width: 766px) {
      .pro_seed .pro_s_cabinet {
        width: 100%;
        box-sizing: border-box; } }
    .pro_seed .pro_s_cabinet > li {
      /* 商品 */
      border: 0.3em solid #6D5844;
      background-color: #514336;
      position: relative;
      float: left;
      box-sizing: border-box; }
      @media only screen and (min-width: 1440px) {
        .pro_seed .pro_s_cabinet > li {
          width: 25%;
          height: 40vh; } }
      @media only screen and (min-width: 767px) and (max-width: 1440px) {
        .pro_seed .pro_s_cabinet > li {
          width: 25%;
          height: 29vw; } }
      @media only screen and (max-width: 766px) {
        .pro_seed .pro_s_cabinet > li {
          width: 50%;
          height: 54vw; } }
      .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand {
        width: 33.33%;
        margin: auto;
        left: 0;
        right: 0;
        top: -10%;
        position: absolute; }
        @media only screen and (max-width: 766px) {
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand {
            width: 45%; } }
        .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div {
          border-radius: 6px; }
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:first-child img {
            width: 100%; }
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
            text-align: center;
            margin: auto;
            margin-top: -80%; }
            @media only screen and (min-width: 1440px) {
              .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
                font-size: 30px;
                color: #F7931E; } }
            @media only screen and (min-width: 767px) and (max-width: 1440px) {
              .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
                font-size: 1.1em;
                color: #F7931E; } }
            @media only screen and (max-width: 766px) {
              .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
                font-size: 18px;
                color: #F7931E; } }
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:last-child {
            width: 60%;
            margin: auto;
            margin-right: -28%;
            margin-top: -60%;
            transform: rotateZ(25deg); }
            .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:last-child img {
              width: 100%; }
      .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_img {
        position: absolute;
        margin: auto;
        left: -10px;
        right: 0;
        bottom: 0; }
        .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_img img {
          width: 100%; }
      .pro_seed .pro_s_cabinet > li .pro_s_white {
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        margin: auto;
        top: 0;
        z-index: 5; }
        .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info {
          width: 80%;
          margin: auto;
          margin-top: 30px; }
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info h2 {
            text-align: center;
            color: #F7931E; }
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_line {
            height: 1px;
            width: 90%;
            background-color: #000;
            margin: 20px auto;
            opacity: .2; }
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info p {
            text-align: center; }
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy {
            margin: auto;
            text-align: center;
            margin: 20px auto; }
            .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span {
              display: inline-block;
              width: 40%;
              font-weight: bold; }
              @media only screen and (min-width: 1440px) {
                .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span {
                  font-size: 24px;
                  color: #F15A24; } }
              @media only screen and (min-width: 767px) and (max-width: 1440px) {
                .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span {
                  font-size: 1.05em;
                  color: #F15A24; } }
              @media only screen and (max-width: 766px) {
                .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span {
                  font-size: 18px;
                  color: #F15A24; } }
            .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy .btn {
              padding: 4px 24px;
              min-width: 100px;
              border-radius: 10px;
              border-style: none;
              font-size: 16px;
              background-color: #219B00;
              letter-spacing: 1px;
              transform: translateY(-2px);
              box-shadow: 2px 2px 0 0 #ccc;
              color: #fff; }
              .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy .btn:hover {
                transform: translateY(0px);
                box-shadow: none; }
      @media only screen and (min-width: 1440px) {
        .pro_seed .pro_s_cabinet > li:hover .pro_s_white {
          opacity: 1; }
        .pro_seed .pro_s_cabinet > li:hover .pro_s_brand {
          opacity: 0; } }
      @media only screen and (min-width: 767px) and (max-width: 1440px) {
        .pro_seed .pro_s_cabinet > li:hover .pro_s_white {
          opacity: 1; }
        .pro_seed .pro_s_cabinet > li:hover .pro_s_brand {
          opacity: 0; } }
  .pro_seed .pro_s_end {
    width: 100%;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    box-sizeing: border-box; }
    .pro_seed .pro_s_end div {
      margin: auto;
      border: 10px solid #877159; }
      @media only screen and (min-width: 1440px) {
        .pro_seed .pro_s_end div {
          width: 1440px; } }
      .pro_seed .pro_s_end div img {
        width: 100%; }

.pro_s_mobileInfo {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  top: 0;
  margin-left: -10px;
  z-index: 5; }
  .pro_s_mobileInfo .pro_s_info {
    background-color: #fff;
    height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 15%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden; }
    .pro_s_mobileInfo .pro_s_info i {
      float: right;
      margin: 10px 12px 0 0;
      font-size: 8vw;
      color: #555; }
    .pro_s_mobileInfo .pro_s_info .pro_s_real {
      margin: auto;
      margin-top: 50px;
      width: 70%; }
    .pro_s_mobileInfo .pro_s_info h2 {
      text-align: center;
      color: #F7931E; }
    .pro_s_mobileInfo .pro_s_info .pro_s_line {
      height: 1px;
      width: 80%;
      background-color: #000;
      margin: 20px auto;
      opacity: .2; }
    .pro_s_mobileInfo .pro_s_info .pro_s_buy {
      margin: auto;
      text-align: center;
      margin: 20px auto; }
      .pro_s_mobileInfo .pro_s_info .pro_s_buy span {
        display: inline-block;
        width: 30%;
        font-weight: bold; }
        @media only screen and (min-width: 1440px) {
          .pro_s_mobileInfo .pro_s_info .pro_s_buy span {
            font-size: 24px;
            color: #F15A24; } }
        @media only screen and (min-width: 767px) and (max-width: 1440px) {
          .pro_s_mobileInfo .pro_s_info .pro_s_buy span {
            font-size: 1.05em;
            color: #F15A24; } }
        @media only screen and (max-width: 766px) {
          .pro_s_mobileInfo .pro_s_info .pro_s_buy span {
            font-size: 18px;
            color: #F15A24; } }
      .pro_s_mobileInfo .pro_s_info .pro_s_buy .btn {
        padding: 4px 24px;
        min-width: 100px;
        border-radius: 10px;
        border-style: none;
        font-size: 16px;
        background-color: #219B00;
        letter-spacing: 1px;
        transform: translateY(-2px);
        box-shadow: 2px 2px 0 0 #ccc;
        color: #fff; }
        .pro_s_mobileInfo .pro_s_info .pro_s_buy .btn:hover {
          transform: translateY(0px);
          box-shadow: none; }

/* 魚缸超市 */
.pro_tank {
  width: 100%;
  background-image: url("../src/image/product/pro-bg2.jpg");
  /* 商品區(魚缸) */ }
  .pro_tank .pro_t_wheel {
    margin: auto;
    position: relative;
    margin-top: 9%; }
    @media only screen and (min-width: 1440px) {
      .pro_tank .pro_t_wheel {
        width: 1440px; } }
    @media only screen and (min-width: 767px) and (max-width: 1440px) {
      .pro_tank .pro_t_wheel {
        width: 100%; } }
    @media only screen and (max-width: 766px) {
      .pro_tank .pro_t_wheel {
        width: 100%; } }
    .pro_tank .pro_t_wheel .pro_t_lightbox {
      margin: auto;
      overflow: hidden; }
      .pro_tank .pro_t_wheel .pro_t_lightbox ul {
        list-style: none;
        margin: auto;
        width: 150%; }
        .pro_tank .pro_t_wheel .pro_t_lightbox ul > div {
          display: none; }
        @media only screen and (max-width: 766px) {
          .pro_tank .pro_t_wheel .pro_t_lightbox ul {
            width: 100%; }
            .pro_tank .pro_t_wheel .pro_t_lightbox ul > div {
              display: block; } }
        .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
          padding: 0px 20px;
          box-sizing: border-box;
          float: left;
          text-align: center; }
          @media only screen and (min-width: 1440px) {
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
              width: 480px; } }
          @media only screen and (min-width: 767px) and (max-width: 1440px) {
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
              width: 33.33vw; } }
          @media only screen and (max-width: 766px) {
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
              width: 50%;
              margin-top: 10px; } }
          .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:first-child {
            width: 60%;
            margin: auto;
            border-radius: 10%;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0, 0.1); }
            @media only screen and (max-width: 766px) {
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:first-child {
                width: 80%; } }
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:first-child img {
              width: 100%; }
          .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child {
            margin: 5% auto; }
            @media only screen and (min-width: 1440px) {
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child .pro_s_name {
                font-size: 30px;
                color: #999; } }
            @media only screen and (min-width: 767px) and (max-width: 1440px) {
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child .pro_s_name {
                font-size: 1.1em;
                color: #999; } }
            @media only screen and (max-width: 766px) {
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child .pro_s_name {
                font-size: 18px;
                color: #999; } }
            @media only screen and (min-width: 1440px) {
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child div:last-child {
                font-size: 24px;
                color: #F7931E; } }
            @media only screen and (min-width: 767px) and (max-width: 1440px) {
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child div:last-child {
                font-size: 1.05em;
                color: #F7931E; } }
            @media only screen and (max-width: 766px) {
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child div:last-child {
                font-size: 18px;
                color: #F7931E; } }
    .pro_tank .pro_t_wheel .pro_t_toRL {
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0; }
      .pro_tank .pro_t_wheel .pro_t_toRL > a {
        padding: 3vw 1vw;
        font-size: 30px;
        height: 100%;
        color: #777;
        box-sizing: border-box; }
        .pro_tank .pro_t_wheel .pro_t_toRL > a:hover {
          background-color: #ccc;
          opacity: .5; }
        .pro_tank .pro_t_wheel .pro_t_toRL > a i {
          margin-top: 7vw; }
        .pro_tank .pro_t_wheel .pro_t_toRL > a:first-child {
          float: left; }
        .pro_tank .pro_t_wheel .pro_t_toRL > a:last-child {
          float: right; }
  .pro_tank .pro_t_shelfImg {
    /* 層架圖 */
    margin: auto;
    padding: 0 5%; }
    .pro_tank .pro_t_shelfImg img {
      width: 100%; }
  .pro_tank .pro_t_info {
    /* 魚缸資料區 */
    margin: auto;
    padding: 5% 0;
    /* 大圖+標題+按鈕的部分 */
    /* 規格和注意事項 */ }
    .pro_tank .pro_t_info > div + div {
      margin-top: 4%; }
    @media only screen and (min-width: 1440px) {
      .pro_tank .pro_t_info {
        width: 1440px; } }
    @media only screen and (min-width: 767px) and (max-width: 1440px) {
      .pro_tank .pro_t_info {
        width: 100%; } }
    @media only screen and (max-width: 766px) {
      .pro_tank .pro_t_info {
        width: 100%; } }
    .pro_tank .pro_t_info .pro_t_infoTop {
      height: 100%;
      overflow: hidden; }
      .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTL {
        width: 50%;
        float: left;
        padding: 10px 0px; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTL div {
          width: 80%;
          margin: auto;
          border: 1px solid rgba(0, 0, 0, 0.1); }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTL div img {
            width: 100%; }
      .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR {
        margin: auto;
        margin-top: 8%;
        width: 50%;
        float: left;
        padding: 0 1%;
        box-sizing: border-box; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR h2 {
          text-align: center;
          color: #999; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR ul {
          text-align: center;
          font-size: 0px;
          margin-top: 50px; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR ul li {
            width: 18%;
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.1); }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR ul li + li {
            margin-left: 2%; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy {
          text-align: center;
          margin-top: 100px; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span {
            font-weight: bold; }
            @media only screen and (min-width: 1440px) {
              .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span {
                font-size: 24px;
                color: #F15A24; } }
            @media only screen and (min-width: 767px) and (max-width: 1440px) {
              .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span {
                font-size: 1.05em;
                color: #F15A24; } }
            @media only screen and (max-width: 766px) {
              .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span {
                font-size: 18px;
                color: #F15A24; } }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy button {
            margin-left: 20px;
            color: #fff;
            padding: 4px 24px;
            min-width: 100px;
            border-radius: 10px;
            border-style: none;
            font-size: 24px;
            background-color: #219B00;
            letter-spacing: 1px;
            transform: translateY(-2px);
            box-shadow: 2px 2px 0 0 #ccc; }
            .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy button:hover {
              transform: translateY(0px);
              box-shadow: none; }
      @media only screen and (max-width: 766px) {
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR {
          width: 100%;
          position: relative;
          margin: 0px;
          float: none;
          margin-left: 5%; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR h2 {
            color: #999;
            position: absolute;
            bottom: 13%; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR ul {
            width: 2000px;
            margin: auto;
            text-align: left; }
            .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR ul li {
              width: 80vw; }
            .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR ul li + li {
              margin-left: 1%; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy {
            text-align: left;
            margin-top: 15%; }
            .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy button {
              display: inline-block;
              float: right;
              margin-right: 10%; } }
    .pro_tank .pro_t_info .pro_t_infoBottom {
      width: 100%; }
      .pro_tank .pro_t_info .pro_t_infoBottom h3 {
        margin: 14px 0;
        padding: 4px 10px;
        background-color: #C19369;
        font-weight: normal; }
        @media only screen and (min-width: 1440px) {
          .pro_tank .pro_t_info .pro_t_infoBottom h3 {
            font-size: 24px;
            color: #fff; } }
        @media only screen and (min-width: 767px) and (max-width: 1440px) {
          .pro_tank .pro_t_info .pro_t_infoBottom h3 {
            font-size: 1.05em;
            color: #fff; } }
        @media only screen and (max-width: 766px) {
          .pro_tank .pro_t_info .pro_t_infoBottom h3 {
            font-size: 18px;
            color: #fff; } }
      .pro_tank .pro_t_info .pro_t_infoBottom p {
        width: 97%;
        margin: 2% auto;
        line-height: 26px;
        letter-spacing: 1px;
        color: #555; }
        @media only screen and (max-width: 766px) {
          .pro_tank .pro_t_info .pro_t_infoBottom p {
            width: 92%;
            margin-left: 5%; } }
