@charset "UTF-8";
.btn_green {
  position: relative;
  z-index: 5; }

@media only screen and (max-width: 766px) {
  .pro_container {
    margin-top: 50px; } }

.pro_container h2 {
  color: #fff; }
  @media only screen and (min-width: 767px) and (max-width: 1440px) {
    .pro_container h2 {
      font-size: 2.6vw; } }
  @media only screen and (max-width: 766px) {
    .pro_container h2 {
      font-size: 24px; } }

@media only screen and (min-width: 767px) and (max-width: 1440px) {
  .pro_container h3, .pro_container h4 {
    font-size: 3vw; } }

@media only screen and (max-width: 766px) {
  .pro_container h3, .pro_container h4 {
    font-size: 18px; } }

@media only screen and (max-width: 766px) {
  .pro_container p {
    font-size: 1em; } }

.pro_container img {
  vertical-align: top; }

.pro_container .pro_seed img {
  width: 100%; }

.pro_container .pro_tank > div img {
  width: 100%; }

.pro_container .ccc {
  clear: both; }

.pro_click {
  -webkit-box-shadow: 0px 0px 1px 2px #F7931E;
  box-shadow: 0px 0px 1px 2px #F7931E; }

/* 遮雨棚 */
.pro_tent {
  position: relative; }
  @media only screen and (max-width: 766px) {
    .pro_tent div {
      -webkit-transform: scale(1.9, 1.9) translateY(8px);
      -ms-transform: scale(1.9, 1.9) translateY(8px);
      transform: scale(1.9, 1.9) translateY(8px); } }
  .pro_tent h2 {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    text-align: center;
    letter-spacing: 4px;
    top: 76%; }
    @media only screen and (min-width: 1440px) {
      .pro_tent h2 {
        font-size: 40px; } }
    @media only screen and (max-width: 766px) {
      .pro_tent h2 {
        top: 113%; } }

.pro_container {
  overflow: hidden; }

@media only screen and (max-width: 766px) {
  .mobileHidden {
    display: none; } }

.cart {
  display: none;
  text-align: center;
  height: 10vw;
  width: 10vw;
  min-width: 60px;
  min-height: 60px;
  max-width: 120px;
  max-height: 120px;
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  top: auto;
  background-color: #ffdbb0;
  border: 2px solid #699c33;
  color: #699c33;
  font-weight: bold;
  font-size: 150%;
  line-height: 8px;
  padding-top: 1.5vw;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  @media only screen and (max-width: 766px) {
    .cart {
      display: block; } }
  @media only screen and (max-width: 766px) {
    .cart {
      font-size: 18px; } }
  .cart::after {
    content: "";
    display: block;
    height: 4vw;
    max-height: 60px;
    min-height: 28px;
    background-image: url("../src/image/product/cart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 45% center;
    margin-top: 10%; }

/* 種子市場 */
.pro_seed {
  /*背景圖大小 1770*1337*/
  background-image: url("../src/image/product/pro-bg1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* 商品區(種子)*/ }
  .pro_seed .pro_s_cabinet {
    margin: auto;
    list-style: none;
    border: 10px solid #6D5844;
    margin-top: 12%; }
    @media only screen and (min-width: 1440px) {
      .pro_seed .pro_s_cabinet {
        width: 1440px; } }
    @media only screen and (min-width: 767px) and (max-width: 1440px) {
      .pro_seed .pro_s_cabinet {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
    @media only screen and (max-width: 766px) {
      .pro_seed .pro_s_cabinet {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 22%; } }
    .pro_seed .pro_s_cabinet > li {
      /* 商品 */
      border: 0.3em solid #6D5844;
      background-color: #514336;
      position: relative;
      float: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media only screen and (min-width: 1440px) {
        .pro_seed .pro_s_cabinet > li {
          width: 25%;
          height: 40vh; } }
      @media only screen and (min-width: 767px) and (max-width: 1440px) {
        .pro_seed .pro_s_cabinet > li {
          width: 25%;
          height: 29vw; } }
      @media only screen and (max-width: 766px) {
        .pro_seed .pro_s_cabinet > li {
          width: 50%;
          height: 54vw;
          cursor: pointer; } }
      .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand {
        width: 33.33%;
        margin: auto;
        left: 0;
        right: 0;
        top: -10%;
        position: absolute; }
        @media only screen and (max-width: 766px) {
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand {
            width: 45%; } }
        .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div {
          border-radius: 6px; }
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:first-child img {
            width: 100%; }
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
            text-align: center;
            margin: auto;
            margin-top: -78%;
            font-weight: bold;
            text-shadow: 0 0 2px #999; }
            @media only screen and (min-width: 1440px) {
              .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
                font-size: 30px;
                color: #F6E895; } }
            @media only screen and (min-width: 767px) and (max-width: 1440px) {
              .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
                font-size: 1.1em;
                color: #F6E895; } }
            @media only screen and (max-width: 766px) {
              .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:nth-child(2) {
                font-size: 18px;
                color: #F6E895; } }
          .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_brand div:last-child {
            width: 60%;
            margin: auto;
            margin-right: -28%;
            margin-top: -60%;
            -webkit-transform: rotateZ(25deg);
            -ms-transform: rotate(25deg);
            transform: rotateZ(25deg); }
      .pro_seed .pro_s_cabinet > li .pro_s_vegetable .pro_s_img {
        position: absolute;
        margin: auto;
        left: -10px;
        right: 0;
        bottom: 0; }
      .pro_seed .pro_s_cabinet > li .pro_s_white {
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        margin: auto;
        top: 0;
        z-index: 5; }
        @media only screen and (max-width: 766px) {
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info {
            display: none; } }
        .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info {
          width: 80%;
          margin: auto;
          margin-top: 30px; }
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info h3 {
            font-size: 32px;
            color: #F7931E; }
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_line {
            height: 1px;
            background-color: #000;
            margin: 10px 0px;
            opacity: .2; }
          .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy {
            margin: auto;
            margin: 20px auto; }
            .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span:first-child {
              display: inline-block;
              width: 40%;
              font-weight: bold; }
              @media only screen and (min-width: 1440px) {
                .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span:first-child {
                  font-size: 24px;
                  color: #F15A24; } }
              @media only screen and (min-width: 767px) and (max-width: 1440px) {
                .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span:first-child {
                  font-size: 1.05em;
                  color: #F15A24; } }
              @media only screen and (max-width: 766px) {
                .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span:first-child {
                  font-size: 18px;
                  color: #F15A24; } }
            .pro_seed .pro_s_cabinet > li .pro_s_white .pro_s_info .pro_s_buy span:last-child {
              display: inline-block; }
      @media only screen and (min-width: 1440px) {
        .pro_seed .pro_s_cabinet > li:hover .pro_s_white {
          opacity: 1; }
        .pro_seed .pro_s_cabinet > li:hover .pro_s_brand {
          opacity: 0; } }
      @media only screen and (min-width: 767px) and (max-width: 1440px) {
        .pro_seed .pro_s_cabinet > li:hover .pro_s_white {
          opacity: 1; }
        .pro_seed .pro_s_cabinet > li:hover .pro_s_brand {
          opacity: 0; } }
  .pro_seed .pro_s_end {
    width: 100%;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    box-sizeing: border-box; }
    .pro_seed .pro_s_end div {
      margin: auto;
      border: 10px solid #877159; }
      @media only screen and (min-width: 1440px) {
        .pro_seed .pro_s_end div {
          width: 1440px; } }
      .pro_seed .pro_s_end div img {
        width: 100%; }

.pro_s_mobileInfo {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  top: 0;
  margin-left: -10px;
  z-index: 9; }
  .pro_s_mobileInfo .pro_s_white {
    background-color: #fff;
    width: 90%;
    height: 428px;
    margin: auto;
    margin-top: 27%;
    border-radius: 12px 30%; }
    .pro_s_mobileInfo .pro_s_white .iii {
      float: right;
      color: #fff;
      font-size: 40px;
      margin-top: 2%; }
    .pro_s_mobileInfo .pro_s_white .pro_s_info {
      padding-top: 26%; }
      .pro_s_mobileInfo .pro_s_white .pro_s_info h3 {
        text-align: center;
        color: #F7931E;
        font-size: 32px; }
        @media only screen and (min-width: 767px) and (max-width: 1440px) {
          .pro_s_mobileInfo .pro_s_white .pro_s_info h3 {
            font-size: 2.7vw; } }
        @media only screen and (max-width: 766px) {
          .pro_s_mobileInfo .pro_s_white .pro_s_info h3 {
            font-size: 26px; } }
      .pro_s_mobileInfo .pro_s_white .pro_s_info .pro_s_line {
        height: 1px;
        width: 80%;
        background-color: #000;
        margin: 20px auto;
        opacity: .2; }
      .pro_s_mobileInfo .pro_s_white .pro_s_info .pro_s_txt {
        text-align: center; }
      .pro_s_mobileInfo .pro_s_white .pro_s_info .pro_s_buy {
        text-align: center;
        margin: 50px auto; }
        .pro_s_mobileInfo .pro_s_white .pro_s_info .pro_s_buy span:first-child {
          display: inline-block;
          width: 30%;
          font-weight: bold; }
          @media only screen and (min-width: 1440px) {
            .pro_s_mobileInfo .pro_s_white .pro_s_info .pro_s_buy span:first-child {
              font-size: 24px;
              color: #F15A24; } }
          @media only screen and (min-width: 767px) and (max-width: 1440px) {
            .pro_s_mobileInfo .pro_s_white .pro_s_info .pro_s_buy span:first-child {
              font-size: 1.05em;
              color: #F15A24; } }
          @media only screen and (max-width: 766px) {
            .pro_s_mobileInfo .pro_s_white .pro_s_info .pro_s_buy span:first-child {
              font-size: 18px;
              color: #F15A24; } }

/* 魚缸超市 */
.pro_tank {
  width: 100%;
  overflow: hiden;
  background-image: url("../src/image/product/pro-bg2.jpg");
  /* 商品區(魚缸) */ }
  .pro_tank .pro_t_wheel {
    margin: auto;
    position: relative;
    margin-top: 18%; }
    @media only screen and (min-width: 1440px) {
      .pro_tank .pro_t_wheel {
        width: 1440px; } }
    @media only screen and (min-width: 767px) and (max-width: 1440px) {
      .pro_tank .pro_t_wheel {
        width: 100%; } }
    @media only screen and (max-width: 766px) {
      .pro_tank .pro_t_wheel {
        width: 100%; } }
    .pro_tank .pro_t_wheel .pro_t_lightbox {
      margin: auto;
      overflow: hidden; }
      .pro_tank .pro_t_wheel .pro_t_lightbox ul {
        list-style: none;
        margin: auto;
        width: 150%; }
        .pro_tank .pro_t_wheel .pro_t_lightbox ul > div {
          display: none; }
        @media only screen and (max-width: 766px) {
          .pro_tank .pro_t_wheel .pro_t_lightbox ul {
            width: 100%; }
            .pro_tank .pro_t_wheel .pro_t_lightbox ul > div {
              display: block; } }
        .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
          margin-top: 6px;
          padding: 0px 20px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          float: left;
          text-align: center;
          cursor: pointer;
          z-index: 3; }
          @media only screen and (min-width: 1440px) {
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
              width: 480px; } }
          @media only screen and (min-width: 767px) and (max-width: 1440px) {
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
              width: 33.33vw; } }
          @media only screen and (max-width: 766px) {
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li {
              width: 50%;
              margin-top: 10px; } }
          .pro_tank .pro_t_wheel .pro_t_lightbox ul li:hover > div:first-child {
            top: -4px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
          .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div {
            position: relative;
            top: 0px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:first-child {
              width: 60%;
              margin: auto;
              border-radius: 10%;
              overflow: hidden;
              border: 1px solid rgba(0, 0, 0, 0.1); }
              @media only screen and (max-width: 766px) {
                .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:first-child {
                  width: 80%; } }
              .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:first-child img {
                width: 100%; }
            .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child {
              margin: 5% auto; }
              @media only screen and (min-width: 1440px) {
                .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child .pro_t_name {
                  font-size: 30px;
                  color: #999; } }
              @media only screen and (min-width: 767px) and (max-width: 1440px) {
                .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child .pro_t_name {
                  font-size: 1.1em;
                  color: #999; } }
              @media only screen and (max-width: 766px) {
                .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child .pro_t_name {
                  font-size: 18px;
                  color: #999; } }
              @media only screen and (min-width: 1440px) {
                .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child div:last-child {
                  font-size: 24px;
                  color: #F7931E; } }
              @media only screen and (min-width: 767px) and (max-width: 1440px) {
                .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child div:last-child {
                  font-size: 1.05em;
                  color: #F7931E; } }
              @media only screen and (max-width: 766px) {
                .pro_tank .pro_t_wheel .pro_t_lightbox ul li > div:last-child div:last-child {
                  font-size: 18px;
                  color: #F7931E; } }
    .pro_tank .pro_t_wheel .pro_t_toRL {
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1; }
      .pro_tank .pro_t_wheel .pro_t_toRL > span {
        padding: 5% 1vw 11%;
        font-size: 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        opacity: .2; }
        .pro_tank .pro_t_wheel .pro_t_toRL > span:hover {
          opacity: .5; }
        .pro_tank .pro_t_wheel .pro_t_toRL > span i {
          margin-top: 7vw; }
        .pro_tank .pro_t_wheel .pro_t_toRL > span:first-child {
          float: left; }
        .pro_tank .pro_t_wheel .pro_t_toRL > span:last-child {
          float: right; }
  .pro_tank .pro_t_shelfImg {
    /* 層架圖 */
    margin: auto;
    padding: 0 5%; }
    .pro_tank .pro_t_shelfImg img {
      width: 100%; }
  .pro_tank .pro_t_info {
    /* 魚缸資料區 */
    margin: auto;
    padding: 5% 0;
    /* 大圖+標題+按鈕的部分 */
    /* 規格和注意事項 */ }
    .pro_tank .pro_t_info > div + div {
      margin-top: 4%; }
    @media only screen and (min-width: 1440px) {
      .pro_tank .pro_t_info {
        width: 1440px; } }
    @media only screen and (min-width: 767px) and (max-width: 1440px) {
      .pro_tank .pro_t_info {
        width: 100%; } }
    @media only screen and (max-width: 766px) {
      .pro_tank .pro_t_info {
        width: 100%; } }
    .pro_tank .pro_t_info .pro_t_infoTop {
      height: 100%;
      overflow: hidden; }
      .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTL {
        width: 50%;
        float: left;
        padding: 10px 0px; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTL div {
          width: 80%;
          margin: auto;
          border: 1px solid rgba(0, 0, 0, 0.1); }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTL div img {
            width: 100%; }
      .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR {
        margin: auto;
        margin-top: 8%;
        width: 50%;
        float: left;
        padding: 0 1%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR h3 {
          font-size: 32px;
          text-align: center;
          color: #999; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_imgGroup {
          text-align: center;
          font-size: 0px;
          margin-top: 50px; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_imgGroup li {
            width: 18%;
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_imgGroup li + li {
            margin-left: 2%; }
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy {
          text-align: center;
          margin-top: 100px; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span:first-child {
            font-weight: bold;
            margin-right: 8%; }
            @media only screen and (min-width: 1440px) {
              .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span:first-child {
                font-size: 24px;
                color: #F15A24; } }
            @media only screen and (min-width: 767px) and (max-width: 1440px) {
              .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span:first-child {
                font-size: 1.05em;
                color: #F15A24; } }
            @media only screen and (max-width: 766px) {
              .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy span:first-child {
                font-size: 18px;
                color: #F15A24; } }
      @media only screen and (max-width: 766px) {
        .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR {
          width: 100%;
          position: relative;
          margin: 0px;
          float: none; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR h2 {
            color: #999;
            position: absolute;
            bottom: 13%; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .slick-list {
            overflow: initial;
            margin-left: 10%; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .slick-track {
            margin: auto;
            text-align: left; }
            .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .slick-track li + li {
              margin-left: 1%; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .slick-dots li {
            border: none;
            margin: 0;
            width: auto; }
          .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy {
            text-align: center;
            margin-top: 15%; }
            .pro_tank .pro_t_info .pro_t_infoTop .pro_t_infoTR .pro_t_TBuy .btn_green {
              display: inline-block; } }
    .pro_tank .pro_t_info .pro_t_infoBottom {
      width: 100%; }
      .pro_tank .pro_t_info .pro_t_infoBottom h4 {
        margin: 14px 0;
        padding: 4px 10px;
        background-color: #C19369;
        font-weight: normal; }
        @media only screen and (min-width: 1440px) {
          .pro_tank .pro_t_info .pro_t_infoBottom h4 {
            font-size: 24px;
            color: #fff; } }
        @media only screen and (min-width: 767px) and (max-width: 1440px) {
          .pro_tank .pro_t_info .pro_t_infoBottom h4 {
            font-size: 1.05em;
            color: #fff; } }
        @media only screen and (max-width: 766px) {
          .pro_tank .pro_t_info .pro_t_infoBottom h4 {
            font-size: 18px;
            color: #fff; } }
        .pro_tank .pro_t_info .pro_t_infoBottom h4:before {
          content: "【"; }
        .pro_tank .pro_t_info .pro_t_infoBottom h4:after {
          content: "】"; }
      .pro_tank .pro_t_info .pro_t_infoBottom p {
        width: 97%;
        margin: 2% auto;
        line-height: 26px;
        letter-spacing: 1px;
        color: #555; }
        @media only screen and (max-width: 766px) {
          .pro_tank .pro_t_info .pro_t_infoBottom p {
            width: 92%;
            margin-left: 5%; } }
