.lightbox-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101; }
  .lightbox-bg .lightbox-target {
    background-color: #F6F7ED;
    max-width: 400px;
    height: 500px;
    border-radius: 5% 30%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: right; }
    .lightbox-bg .lightbox-target .cancel {
      margin: auto;
      height: 10px;
      margin-top: 6px; }
    .lightbox-bg .lightbox-target h2 {
      font-size: 32px;
      padding-top: 6%;
      color: #699c33; }
    .lightbox-bg .lightbox-target .login-content {
      margin: auto;
      max-width: 300px;
      text-align: center; }
      .lightbox-bg .lightbox-target .login-content .sign-account {
        width: 300px;
        display: inline-block;
        height: 20px; }
        .lightbox-bg .lightbox-target .login-content .sign-account p {
          padding-top: 14px;
          padding-right: 10px;
          display: inline-block;
          vertical-align: bottom;
          color: #61ABD4; }
        .lightbox-bg .lightbox-target .login-content .sign-account input {
          width: 150px;
          height: 20px;
          background-color: #F6F7ED;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #ccc;
          letter-spacing: 1px;
          transition: 0.4s; }
        .lightbox-bg .lightbox-target .login-content .sign-account input:focus {
          outline: none;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .sign-pws {
        width: 300px;
        height: 20px;
        display: inline-block; }
        .lightbox-bg .lightbox-target .login-content .sign-pws p {
          padding-top: 14px;
          padding-right: 10px;
          display: inline-block;
          vertical-align: bottom;
          line-height: 20px;
          color: #61ABD4; }
        .lightbox-bg .lightbox-target .login-content .sign-pws input {
          width: 150px;
          height: 20px;
          background-color: #F6F7ED;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #ccc;
          letter-spacing: 1px;
          transition: 0.4s; }
        .lightbox-bg .lightbox-target .login-content .sign-pws input:focus {
          outline: none;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .sign-repws {
        width: 300px;
        height: 20px;
        display: inline-block; }
        .lightbox-bg .lightbox-target .login-content .sign-repws p {
          padding-top: 14px;
          padding-right: 2px;
          display: inline-block;
          vertical-align: bottom;
          line-height: 20px;
          color: #61ABD4; }
        .lightbox-bg .lightbox-target .login-content .sign-repws input {
          width: 150px;
          height: 20px;
          background-color: #F6F7ED;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #ccc;
          letter-spacing: 1px;
          transition: 0.4s; }
        .lightbox-bg .lightbox-target .login-content .sign-repws input:focus {
          outline: none;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .forget {
        width: 200px;
        text-align: right;
        margin: auto; }
        .lightbox-bg .lightbox-target .login-content .forget a {
          font-size: 12px;
          color: #777;
          text-decoration: none; }
      .lightbox-bg .lightbox-target .login-content .sign-mail {
        width: 300px;
        height: 20px;
        display: inline-block; }
        .lightbox-bg .lightbox-target .login-content .sign-mail p {
          padding-top: 14px;
          padding-right: 2px;
          display: inline-block;
          vertical-align: bottom;
          line-height: 20px;
          color: #61ABD4; }
        .lightbox-bg .lightbox-target .login-content .sign-mail input {
          width: 150px;
          height: 20px;
          background-color: #F6F7ED;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #ccc;
          letter-spacing: 1px;
          transition: 0.4s; }
        .lightbox-bg .lightbox-target .login-content .sign-mail input:focus {
          outline: none;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .sign-add {
        width: 300px;
        height: 20px;
        display: inline-block; }
        .lightbox-bg .lightbox-target .login-content .sign-add p {
          padding-top: 14px;
          padding-right: 2px;
          display: inline-block;
          vertical-align: bottom;
          line-height: 20px;
          color: #61ABD4; }
        .lightbox-bg .lightbox-target .login-content .sign-add input {
          width: 150px;
          height: 20px;
          background-color: #F6F7ED;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #ccc;
          letter-spacing: 1px;
          transition: 0.4s; }
        .lightbox-bg .lightbox-target .login-content .sign-add input:focus {
          outline: none;
          border-width: 0px;
          border-bottom-width: 2px;
          border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .sign-birth {
        width: 300px;
        height: 20px;
        display: inline-block; }
        .lightbox-bg .lightbox-target .login-content .sign-birth p {
          padding-top: 14px;
          padding-right: 2px;
          display: inline-block;
          vertical-align: bottom;
          line-height: 20px;
          color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .sign-gender {
        width: 300px;
        height: 20px;
        display: inline-block; }
        .lightbox-bg .lightbox-target .login-content .sign-gender p {
          padding-top: 14px;
          padding-right: 2px;
          display: inline-block;
          vertical-align: bottom;
          line-height: 20px;
          color: #61ABD4; }
      .lightbox-bg .lightbox-target .login-content .btn_green {
        width: 200px;
        display: inline-block;
        margin: auto;
        background-color: #699c33;
        padding: 6px 10px;
        color: #fff;
        font-size: 14px;
        font-family: Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        vertical-align: middle;
        margin-top: 3%;
        border: none;
        box-sizing: border-box;
        border: 1px solid #699c33;
        transition-duration: 0.4s; }
      .lightbox-bg .lightbox-target .login-content .btn_green:hover {
        -webkit-transform: 0 0 2px;
        -ms-transform: 0 0 2px;
        transform: 0 0 2px;
        background-color: #F6F7ED;
        border: 1px solid #699c33;
        color: #699c33;
        cursor: pointer; }
    .lightbox-bg .lightbox-target .login-bee {
      position: relative;
      bottom: -20px;
      width: 50%; }

.login-clear {
  clear: both; }

@media all and (max-width: 767px) {
  .lightbox-bg .lightbox-target {
    z-index: 999;
    width: 90%; } }
