body {
  background: url("../src/image/cart/cart-bg.png"); }

.lightbox-bg {
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
  z-index: 101; }
  .lightbox-bg .lightbox-target {
    background-color: #FFF;
    max-width: 400px;
    height: 500px;
    border-radius: 5% 30%;
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .lightbox-bg .lightbox-target .cancel {
      margin: auto;
      height: 10px;
      margin-top: 6px; }
    .lightbox-bg .lightbox-target h2 {
      text-align: center;
      font-size: 32px;
      padding-top: 6%;
      color: #699c33; }
    .lightbox-bg .lightbox-target .sign-content {
      margin: auto;
      max-width: 400px;
      text-align: center; }
      .lightbox-bg .lightbox-target .sign-content .sign-title {
        width: 49%;
        display: inline-block;
        box-sizing: border-box; }
        .lightbox-bg .lightbox-target .sign-content .sign-title ul li {
          width: 100%;
          height: 20px;
          padding-top: 14px;
          vertical-align: top;
          display: block;
          color: #61ABD4;
          border-bottom-width: 2px;
          border-bottom-color: transparent; }
      .lightbox-bg .lightbox-target .sign-content .sign-info {
        width: 49%;
        display: inline-block;
        box-sizing: border-box; }
        .lightbox-bg .lightbox-target .sign-content .sign-info ul {
          text-align: left; }
          .lightbox-bg .lightbox-target .sign-content .sign-info ul li {
            width: 100%;
            height: 20px;
            padding-top: 14px;
            vertical-align: top;
            display: block;
            color: #61ABD4;
            border-bottom-width: 2px;
            border-bottom-color: transparent; }
          .lightbox-bg .lightbox-target .sign-content .sign-info ul input {
            width: 130px;
            height: 20px;
            background-color: #fff;
            border-width: 0px;
            border-bottom-width: 2px;
            border-bottom-color: #ccc;
            letter-spacing: 1px;
            transition: 0.4s; }
          .lightbox-bg .lightbox-target .sign-content .sign-info ul input:focus {
            outline: none;
            border-width: 0px;
            border-bottom-width: 2px;
            border-bottom-color: #61ABD4; }
      .lightbox-bg .lightbox-target .sign-content .btn-item button {
        margin-top: 20px;
        width: 120px; }

.sign-clear {
  clear: both; }
