body {
  background: url("../src/image/cart/cart-bg.png");
}

.sign-up {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
  z-index: 101;
}

.sign-up .lightbox-target {
  background-color: #FFF;
  max-width: 400px;
  height: 500px;
  border-radius: 20px;
  border: 2px solid #699c33;
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.sign-up .lightbox-target .cancel {
  margin: auto;
  height: 10px;
  margin-top: 6px;
}

.sign-up .lightbox-target h2 {
  text-align: center;
  font-size: 32px;
  padding-top: 6%;
  color: #699c33;
}

.sign-up .lightbox-target .sign-content {
  margin: auto;
  max-width: 400px;
  text-align: center;
}

.sign-up .lightbox-target .sign-content .sign-title {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
}

.sign-up .lightbox-target .sign-content .sign-title ul li {
  width: 100%;
  height: 20px;
  padding-top: 14px;
  vertical-align: top;
  display: block;
  color: #61ABD4;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
}

.sign-up .lightbox-target .sign-content .sign-info {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
}

.sign-up .lightbox-target .sign-content .sign-info ul {
  text-align: left;
}

.sign-up .lightbox-target .sign-content .sign-info ul li {
  width: 100%;
  height: 20px;
  padding-top: 14px;
  font-weight: 800;
  vertical-align: top;
  display: block;
  color: #5a3819;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
}

.sign-up .lightbox-target .sign-content .sign-info ul input {
  width: 130px;
  height: 20px;
  background-color: #fff;
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
  letter-spacing: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sign-up .lightbox-target .sign-content .sign-info ul input:focus {
  outline: none;
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: #61ABD4;
}

.sign-up .lightbox-target .sign-content .btn-item button {
  margin-top: 20px;
  width: 120px;
}

.sign-clear {
  clear: both;
}
