*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: 100vh;
	margin: auto;
	background-image: url('../src/image/web_back_frame/background.png');
	background-size: 100% 100% ;
}
.clearfix{
	clear: both;
}
nav{
	width: 100%;
	margin-right: 30px;
	border-bottom: 1px solid #ABCD87;
	position: fixed;
	z-index: 1;
	background-color: #FFF8E6;
}
.nav_item{
	float: left;
	width: 258px;
	box-sizing: border-box;
	padding: 40px 10px 10px 10px;
}
/* 如果沒有這行，把這裡打開 */
/* .nav_item:nth-child(3){
	opacity: 0;
} */
.nav_item:nth-child(3),
.nav_item:nth-child(4),
.nav_item:nth-child(5){
	padding-top: 50px;
}
.nav_item .search{
	background-color: white;
}
.nav_item .search button{
	background: transparent;
	border: none;
	float: right;
	padding: 10px;
	position: relative;
}
.nav_item .search button:nth-child(2):before{
	content: "";
	position: absolute;
	width: 1px;
	height: 25px;
	left: 1px;
	background-color: gray;
}
.nav_item select{
	background-color: white;
	width: 80px;
	height: 30px;
}
.nav_item input{
	background-color: white;
	padding: 15px;
	width: 120px;
	border: none;
}
.nav_item h2{
	font-weight: 200;
	position: relative;
	font-size: 44px;
}
.nav_item h2:before{
	content: "";
	position: absolute; 
	display: block;
	background-color: #946134;
	width: 3px;
	height: 35px;
	left: -20px;
	top: 15px;
	border-radius: 10px;
}
.nav_item span{
	font-size: 26px;
}
.nav_item:first-child{
	padding: 25px 0 10px 0;
	box-sizing: border-box;
}
.logo img{	
	width: 120px;
	height: 88px;
	display: block;
	margin: auto;     
}
.article{
	width: 1440px;
	float: left;
}
.manage{
	width: 228px;
	height: 100vh;
	float: left;
	font-size: 16px;
	position: relative;
	background-color: #ABCD87;
}
.manage ol:nth-child(1){
	box-sizing: border-box;
	width: 190px;
	padding: 10px 20px;
	margin:140px 20px 0 20px;
}
.manage li{
	margin: auto;
	padding:10px 0 0 0;
	list-style: none;
}
.manage  ol button{
	color: black;
	border: none;
	background-color: transparent;
}
.manage li img{
	display: inline-block;
	position: relative;
	right: 5px;
}
/* .manage a{
	font-size: 18px;
} */
.logout{
	display: block;
	width: 90px;
	height: 25px;
	margin: auto;
	border-radius: 10px;
	color: white;
	position: absolute;
	left: 40px;
	bottom: 20px;
	background: #F29600;	
}
.content{
	width: 1000px;
	float: left;
}
.item{
	/* margin: 10px 20px 0 20px; */
	display: none;
}
#itemClick{
	display: inline-block;
	width: 120px;
	height: 20px;
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 16px;
	padding: 4px 0;

}
#itemClick:hover{
	background-color:#d6d6d8;
}
.item li{
	padding-top: 0;
}
.save{
	display: block;
	width: 110px;
	height: 25px;
	margin: auto;
	border-radius: 10px;
	color: white;
	float: right;
	background: #F29600;
	position: relative;
	top: 640px;
	right: 100px;
}
.content_form{
	float: left;
	margin-top: 240px;
}
a{
	cursor: pointer;

}
button{
	cursor: pointer;
}


