@charset "UTF-8";
.manage {
  width: 16%;
}

.content_form {
  width: 84%;
  margin-top: 155px;
}

button {
  border: none;
}

nav .nav_item:nth-child(3) {
  display: none;
}

nav .nav_item:nth-child(4) {
  display: none;
}

nav .nav_item:nth-child(5) {
  display: none;
}

/* table起始 */
.myForm {
  width: 94%;
  margin: auto;
  position: relative;
}

.myForm .pro_line {
  position: absolute;
  width: 1px;
  height: 344px;
  margin: auto;
  left: 63.4%;
  top: 84px;
  background-color: #aaa;
}

.myForm table {
  width: 100%;
  table-layout: fixed;
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 6px;
}

.myForm tr:not(.hide) > td {
  /*每個格子統一固定padding*/
  padding: 16px 4px;
  word-break: break-all;
  text-overflow: ellipsis;
}

.myForm tr:not(.hide) > th {
  font-weight: normal;
  text-align: center;
}

.myForm select, .myForm option {
  width: 91%;
  padding: 6px 0px 6px 10px;
  background-color: LemonChiffon;
  border: none;
}

.myForm select:focus, .myForm option:focus {
  outline-color: #F29600;
}

.myForm input, .myForm textarea {
  width: 90%;
  padding: 6px 0px 6px 10px;
  background-color: LemonChiffon;
  border: none;
}

.myForm input:focus, .myForm textarea:focus {
  outline-color: #F29600;
}

.myForm textarea {
  resize: none;
}

.myForm .pro_numDisable {
  color: #fff;
}

.myForm .pro_numDisable span {
  display: inline-block;
  width: 100%;
  padding: 2px 0px;
  background-color: SaddleBrown;
}

.myForm .pro_numDisable input {
  width: 99%;
  background-color: SaddleBrown;
  color: #fff;
}

.myForm table {
  /*每一欄的寬度設定。以百分比。剩的寬自動為最後一欄*/
  /*不能動！！第一欄固定為5%*/
}

.myForm table tr th:nth-child(1) {
  width: 10%;
}

.myForm table tr td:nth-child(2) {
  width: 55%;
}

.myForm table tr th:nth-child(3) {
  width: 10%;
}

.myForm .btn {
  background-color: LemonChiffon;
  padding: 4px 6px;
  border: none;
}

.proSave {
  margin: auto;
  margin-top: 20px;
}

.proSave button {
  margin: auto;
  display: block;
  background-color: #F29600;
  padding: 10px 0px;
  width: 50%;
  border: none;
  color: #fff;
}

.proSave button:hover {
  color: #F29600;
  border: 2px solid  #F29600;
  background-color: #fff;
}

/* table結束 */
