@charset "UTF-8";
/* table起始 */
.myForm table {
  width: 100%;
}

.myForm tr > td:first-child {
  /*每row第一個格子(編號)固定置中，灰色*/
  color: #888;
  text-align: center;
}

.myForm th {
  /*th的樣式:上下有橘色線*/
  border-bottom: 2px solid #ddd;
  background-color: #F29600;
}

.myForm td {
  font-weight: lighter;
}

.myForm .tdRow:nth-child(odd) {
  /*基數白底，偶數灰底(第一row包th不算)*/
  background-color: #ddd;
}

.myForm .tdRow:nth-child(even) {
  background-color: #fff;
}

.myForm table {
  table-layout: fixed;
}

.myForm table {
  /*每一欄的寬度設定。以百分比。剩的寬自動為最後一欄*/
  /*不能動！！第一欄固定為5%*/
  /*自行更改、增加 區域=================================*/
}

.myForm table tr th:nth-child(1) {
  width: 5%;
}

.myForm table tr th:nth-child(2) {
  width: 5%;
}

.myForm table tr th:nth-child(3) {
  width: 10%;
}

.myForm table tr th:nth-child(4) {
  width: 10%;
}

.myForm table tr th:nth-child(5) {
  width: 10%;
}

.myForm table tr th:nth-child(6) {
  width: 10%;
}

.myForm table tr th:nth-child(7) {
  width: 10%;
}

.myForm .btn {
  width: 100%;
  background-color: LemonChiffon;
  padding: 4px 6px;
  border: none;
}

/* table結束 */
