@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
body{

	background-image: url("../src/image/cart/cart-bg.png");
}
.containerhope{
	font-family: '微軟正黑體';
	h2{
		font-size: 38px;
		letter-spacing: 4px;
		font-weight: bold;
	}
	h3{
		font-size: 22px;
		letter-spacing: 1px;
		font-weight: normal;
	}
	h4{
		font-size: 20px;
		letter-spacing: 1px;
		font-weight: normal;

	}
	p{
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 26px;
		color: #595959;
		font-weight: normal;
		line-height: 28px;
	}
	a{
		text-decoration: none;
		color: #2b2b2b;
	}
	li{
		list-style: none;
	}
	img{
		width: 100%;
		display: inline-block;
	}
	.cleare{
		clear: both;
	}




	.view{
		width: 100%;
		background-image: url("../src/image/hopeFarm/firstBg.jpg");
		background-repeat: no-repeat;
		background-position:center;
		background-position: top;
		background-size: 100%;
		.view_container{
			max-width: 1440px;
			margin: 0 auto;
			position: relative;
			
			.cloulds{
				margin: 0 auto;
				float: left;
				width: 41%;
				top: 20%;
				
				.cloulds-1 img{
					float: right;
					width: 20%;
					bottom: 18%;
					position: absolute;
					animation: clou 20s -1s linear infinite alternate;
				}
				.cloulds-2 img{
					width: 18%;
					left: 28%;
					position: absolute;
					bottom: 38%;
					animation:  clouds2top 2s infinite alternate, cloudsa 30s -1s infinite alternate;
				}
				.cloulds-3{
					width: 10%;
					bottom: 25%;
					left: 6%;
					position: absolute;
					animation: clou3 50s -1s infinite alternate , clouds3bottom 2s -1s infinite alternate;
				}
				@keyframes clou{
				  0%{ left: 0%;transform: scale(0.7);}
				  100%{ left: 90%;transform: scale(0);}
				}
				@keyframes cloudsa{
				  0%{ left: 27.777777778%;}
				  100%{ left:62.5%;}
				}
				@keyframes clouds2top{
				  0%{ top: 5%;}
				  100%{ top:10%; }
				}
				@keyframes clou3{
				  0%{ left: 10%;}
				  100%{ left:30%;}
				}
				@keyframes clouds3bottom{
				  0%{ bottom: 35%;}
				  100%{ bottom:33%; }
				}
				
			}
			
			
			.for_h2{
				width: 43%;
				margin-top: 19%;
				margin-right: 16%;
				float: right;
				margin-bottom: 20%;
				h2{
					width: 100%;
					float: right;
					margin: 1%;
					color: #fff;
					font-weight: normal;
				}
			}
		}
	}
	.hopefarmrwd-select{
		display: none;
	}
	// ===========//view================
	.latest{
		max-width: 1440px;
		margin: 0 auto;
		margin-top: 10vh;

		position: relative;
		.latest_title{
			width: 30%;
			left: 0;
			right: 0;
			margin: 0 auto;
			margin-bottom: 3vh;
			h2{
				text-align: center;
				color: #c9541f;
			}
		}
		.latest_cloud img{
			float: right;
			width: 12%;
			left: 76%;
			top: -60.2%;
			position: absolute;
			animation: clouds4 30s -1s infinite alternate , clouds5 4s -1s infinite alternate;
		}
		@keyframes clouds4{
				  0%{ left: 69.444444444%;}
				  100%{ left:86.583333333%;}

		}
		@keyframes clouds5{
				  0%{ top: -40%;}
				  100%{ top:-30%;}
		}
		.carousel{

			.carousel_container{
				width: 60%;
				margin:auto; 
				//background-color: #ddd;
				.carouselson{
					background-color: #fff;
					width: 60%;//1000
					float: left;
					border-radius: 38px;
					position: relative;
					.carousel_shadow{
						//background-color: green;
						width: 96%;
						float: left;
						left: 0;
						right: 0;
						margin: 2% 2%;
						position: relative;
						.c_left{
							float: left;
							width: 48%;
							img{
								width: 100%;
								border-radius: 21px;
							}
						}
						.c_right{
							width: 50%;
							float: left;
							margin-left: 1%;
							padding-left: 1vw;
							h3{
								font-size: 28px;
								letter-spacing: 3px;
							}
							
							.coName{
								font-size: 16px;
								// @media screen and (min-width: 768px){
								// 	font-size: 18px;
								// 	width: 30%;
								// }
							}
							.coTxt{
								margin-top: 38px;
								overflow: hidden;
								height: 110px;

								//margin-bottom: 50px;
							}

							.bar{
								width: 45%;
								border: 1px solid #699c33;
								background-color: #fff;
								padding: 0.4%;
								border-radius: 28px;
								//margin-top: 115px;
								position: absolute;
								bottom: 24%;

								.inside-bar{
									width: 60%;
									height: 10px;
									background-color: #699c33;
									border-radius: 28px;
								}
							}
						
							.coCount{
								font-size: 1vw;
						   		display: inline-block;
								margin-top: 6px;
								position: absolute;
								bottom: 19%;

								&:last-child{
									right: 2%;
								}
							}
							
						}
						.c_btn{
							width: 10vw;
							margin: auto;
							margin-top: 4%;
							text-align: center;

							h2{
								font-size: 1.6vw;
								font-family: Arial , '微軟正黑體';
	  							color: #ffffff;
	  							background: #6cbecc;
	  							padding: 5% 7% 5% 7%;
	  							border: solid #6cbecc 2px;
	  							text-decoration: none;
	  							cursor:pointer;
	  							letter-spacing: 1px;
	  							transition: .4s;
							}
							h2:hover{
	  							background: #ffffff;
	  							text-decoration: none;
	  							color: #6cbecc;
	  							cursor:pointer;
	  							letter-spacing: 1px;
	  							transition: .4s;
							}
						}
					}
				}
			}
			.slick-prev{
				left: -54px;
			}
			.slick-next{
				right: -34px;
			}
			.slick-next:before{
				color: green;
				font-size: 37px;
			}
			.slick-prev:before{
				color: green;
				font-size: 37px;
			}
		}
		.c4{
			display: none;
		}
	}
	// ===========//latest================
	.purpose{
		max-width: 1440px;
		margin: auto;
		margin-top:10vh;
		.purpose_img{
			width: 80%;
			margin:auto;
		}
		.purpose_txt{
			width: 63%;
			margin: auto;
			margin-top:-7%; 
			h2{
				text-align: center;
				padding-bottom: 20px;
				margin-bottom: 30px;
			}
			.purp{
				font-size: 26px;
				margin-bottom: 8px;

				&:nth-child(2):before{
							content: '';
							width: 10px;
							height: 10px;
							display: inline-block;
							background-color: #699c33;
							border-radius: 50px;
							vertical-align: middle;
							margin-top: -5px;
							margin-right: 6px;
				}
				&:nth-child(2){
					padding-bottom: 2px;

				}
				&:nth-child(3){
					padding-bottom: 26px;
					line-height: 35px;
				}
				&:nth-child(4):before{
					content: '';
					width: 10px;
					height: 10px;
					display: inline-block;
					background-color: #699c33;
					border-radius: 50px;
					vertical-align: middle;
					margin-top: -5px;
					margin-right: 6px;

				}
				&:nth-child(4){
					padding-bottom: 2px;
					
				}
				&:nth-child(5){
					padding-bottom: 26px;
					line-height: 35px;
				}
				&:nth-child(6):before{
					content: '';
					width: 10px;
					height: 10px;
					display: inline-block;
					background-color: #699c33;
					border-radius: 50px;
					vertical-align: middle;
					margin-top: -5px;
					margin-right: 6px;
				}
				&:nth-child(7){
					line-height: 35px;
				}
			}
		}
	}
	// ===========//purpose================
	.section04{
		max-width: 1440px;
		margin-top: 4%;
		margin: auto;
		.section04-g4-left{
			width: 14%;
			float: left;
			margin-top: -1%;
			margin-left: 5%;
		}
		.section04-g4-right{
			width: 15%;
			float: right;
			margin-top: -1%;
			margin-right: 6%;
		}
	}
	// ===========//section04================
	.bookmark{
		max-width: 1440px;
		margin: auto;
		margin-top: 10%;
		.mark_title{
			margin-bottom: 4%;
				ul{
					text-align: center;
					li{
						width: 14%;
						display: inline-block;
						margin:auto; 
						border-right: 9px solid #fff;
						border: 2px solid #699c33 ;
						font-family: Arial , '微軟正黑體';
						font-size: 24px;
	  					color: #699c33;
	  					background: #ffffff;
	  					padding: 10px 20px 10px 20px;
	  					margin: 0 0.5%;
	  					cursor:pointer;
	  					transition: .4s;
	  					text-align: center;
	  					letter-spacing: 4px;

	  					&:hover {
		  					background: #699c33;
		  					border-right: 9px solid #fff;
							border: 2px solid #699c33;
		  					color: #ffffff;
		  					cursor:pointer;
		  					transition: .4s;
					    }
					}
					.active01{
						background: #699c33;
	  					border-right: 9px solid #fff;
						border: 2px solid #699c33;
	  					color: #ffffff;
	  					cursor:pointer;
	  					transition: .4s;
					}
					
				}
			
			img{
				left: 0;
				right: 0;
				margin: 0 9.889236111%;
				width: 80%;
			}
		}
		
			
			.mark_container{
				display: none;
				.mark_item{
					margin: auto;
					a{
						.item-box{
							position: relative;
							.item-box-shadow{
								background-color: #fff;
								box-shadow: 0px 0px 5px 0px #ccc;
								border-radius: 38px;
								border:1px solid transparent;
								&:hover{
									border:1px solid #699c33;
								}
								.box-img{
									padding: 4%;
									position: relative;
									
									 .box-imgToHover{
									 	overflow: hidden;
									 	border-radius: 37px;
									 	.imgToHover{
									 		transition:all 1.5s;
									 		overflow: hidden;
									 		&:hover{
									 			transform: scale(1.5);
									 		}
									 		img{
											}
									 	}
									 	
									 }
									
									.square{
											width: 18%;
											height: 18%;
											border: 1px solid #699c33;
											background-color: #fff;
											position: absolute;
											bottom: -5%;
											left: -15px;
											border-radius: 0 18px 18px 0;
											

											img{
												border-radius: 0;
												width: 80%;
												margin: auto;
												margin-top:9%; 
												margin-left: 9%;
												border-radius: 0 18px 18px 0;
											}

									}
									.square:before {
											content: '';
											width: 0;
											height: 0;
											border-style: solid;
											border-width: 0 0 11px 15px;
											border-color: transparent transparent #699c33 transparent;
											position: absolute;
											top: -11px;
											left: -1px;
									}

								}
								.box-fontt{
									width: 100%;
									padding: 4%;
									box-sizing: border-box;
    								float: left;
    								padding-bottom: 6%;
    								margin-top: -5%;
    								
									.txt_name{
										font-size: 16px;
										margin:auto;
										text-align: center;
									}

									.txt_title{
										width: 100%;
										margin-top: 5%;
										overflow : hidden;
									  	text-overflow : ellipsis;
									  	white-space : nowrap;
									}
									.JQellipsis{
										padding-top: 1%;
										margin-top: 1%;
										margin-bottom: 5%;

									}
									.bar{
									width: 99%;
									border: 1px solid #699c33;
									background-color: #fff;
									padding: 0.4%;
									margin-top:2%; 
									border-radius: 28px;
										.inside-bar{
											width: 60%;
											height: 10px;
											background-color: #699c33;
											border-radius: 28px; 
										}
									}
									
								}
							}
						}
					}
					
					a:nth-child(4) .item-box{
						margin-top: 10%;
					}
					a:nth-child(5) .item-box{
						margin-top: 10%;
					}
					a:nth-child(6) .item-box{
						margin-top: 10%;
					}
				}
			}
			.c1{
				.mark_item{
					a{
						.item-box{
							.item-box-shadow{
								.box-img{
									img{}
									.square{
											img{}

									}
									.square:before {}
								}
								.box-fontt{
									.txt_name{}
									.txt_title{}
									.JQellipsis{}
									.bar{}
									.coP{
										width: 60%;
										float: left;

										&:last-of-type{
											width: 40%;
											float:right; 
											text-align: right;
									
										}
									}
									
									
								}	
							}
						}
					}
				}
			}
			.c4{
					display: none;
			}
		
		.active01{
			display: block;
		}
		.mark_deco{
			width: 22%;
			float: left;
		}
		.mark_more{
			width: 30%;
			padding-top: 5%;
			margin: auto;
			text-align: center;
			letter-spacing: 2px;
			img{
				width: 17%;
				vertical-align: middle;
			}
			h3{
				display: inline-block;
				vertical-align: middle;
			}
		}
		.mark_more:before{
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		

		
	}
	// ===========//bookmark================
	.risk{
		
		margin: auto;
		text-align: center;
		margin-bottom: 30px;
		.risk_title{
			//width: 100%;
			text-align: center;
			display: inline-block;

		}
	}
	// ===========//section06================
	.risk_container{
		margin: auto;
		position: relative;
		.risk_range{
			max-width: 1440px;
			margin: auto;
			.risk_txt{
				width: 71%;
				margin: auto;
				padding-top: 1%;
				.risk_p{
							letter-spacing: 2px;
							line-height: 160%;
							&:before{
							content: '';
							width: 10px;
							height: 10px;
							display: inline-block;
							background-color: #699c33;
							border-radius: 50px;
							vertical-align: middle;
							margin-top: -5px;
							margin-right: 6px;
							}
							&:nth-child(2){
								margin-top: 15px;
							}
							&:nth-child(3){
								margin-top: 15px;
							}
							&:nth-child(4){
								margin-top: 15px;
							}
							&:nth-child(5){
								margin-top: 15px;
							}
						}
				// .risk_p{
					
				// 	line-height: 35px;
				// 	&:nth-child(2){
				// 		content: '';
				// 		width: 10px;
				// 		height: 10px;
				// 		display: inline-block;
				// 		background-color: #699c33;
				// 		border-radius: 50px;
				// 		vertical-align: middle;
				// 		margin-top: -5px;
				// 		margin-right: 6px;
				// 		}
				// }				
			}
			.risk_img{
				width: 4%;
				right: 28%;
				position: absolute;
				animation: duck 2s -1s  infinite alternate , ducks 100s -1s infinite;				
			}
			@keyframes duck{
				  0%{ top: 0%;}
				  100%{top: 5%;}
			}
			@keyframes ducks{
				  0%{ left: 75.694444444%; }
				  100%{left: 98%;}
			}
		}
	}
	.stone_img{
		margin: auto;
		width: 5%;
		padding-top: 2%;
		padding-left: 34%;
	}
}

@media screen and (min-width: 1001px){
.col-lg-1{ float: left;	width: 8.333333%; box-sizing: border-box; padding: 0 10px; }
.col-lg-2{ float: left;	width: 16.666666%; box-sizing: border-box; padding: 0 10px; }
.col-lg-3{ float: left;	width: 25%; box-sizing: border-box; padding: 0 10px; }
.col-lg-4{ float: left;	width: 33.333333%; box-sizing: border-box; padding: 0 10px; }
.col-lg-5{ float: left;	width: 41.666666%; box-sizing: border-box; padding: 0 10px; }
.col-lg-6{ float: left;	width: 50%; box-sizing: border-box; padding: 0 10px; }
.col-lg-7{ float: left;	width: 58.333333%; box-sizing: border-box; padding: 0 10px; }
.col-lg-8{ float: left;	width: 66.666666%; box-sizing: border-box; padding: 0 10px; }
.col-lg-9{ float: left;	width: 75%; box-sizing: border-box; padding: 0 10px; }
.col-lg-10{ float: left; width: 83.333333%; box-sizing: border-box; padding: 0 10px; }
.col-lg-11{ float: left; width: 91.666666%; box-sizing: border-box; padding: 0 10px; }
.col-lg-12{ float: left; width: 100%; box-sizing: border-box; padding: 0 10px; }

}

@media screen and (min-width: 768px) and (max-width: 1000px){
.col-sm-1{ float: left;	width: 8.333333%; box-sizing: border-box; padding: 0 10px; }
.col-sm-2{ float: left;	width: 16.666666%; box-sizing: border-box; padding: 0 10px; }
.col-sm-3{ float: left;	width: 25%; box-sizing: border-box; padding: 0 10px; }
.col-sm-4{ float: left;	width: 33.333333%; box-sizing: border-box; padding: 0 10px; }
.col-sm-5{ float: left;	width: 41.666666%; box-sizing: border-box; padding: 0 10px; }
.col-sm-6{ float: left;	width: 50%; box-sizing: border-box; padding: 0 10px; }
.col-sm-7{ float: left;	width: 58.333333%; box-sizing: border-box; padding: 0 10px; }
.col-sm-8{ float: left;	width: 66.666666%; box-sizing: border-box; padding: 0 10px; }
.col-sm-9{ float: left;	width: 75%; box-sizing: border-box; padding: 0 10px; }
.col-sm-10{ float: left; width: 83.333333%; box-sizing: border-box; padding: 0 10px; }
.col-sm-11{ float: left; width: 91.666666%; box-sizing: border-box; padding: 0 10px; }
.col-sm-12{ float: left; width: 100%; box-sizing: border-box; padding: 0 10px; }
	.containerhope{

		h2{}
		h3{}
			.view{
				.view_container{			
					.cloulds{}
					.for_h2{
						h2{}				
					}
				}	
			}
			//========//section01
			.hopefarmrwd-select{
				ul{
				    a{
				    	li{
							h2{}
						
						}
				    }
					
					.active01{
		  					h2{
		  					}
		  				}
					
				}
			}
			//========//hopefarmrwd-select
			.latest{
				
				.latest_title{
					h2{}
					img{}
				}
				.latest_cloud{
					img{}
				}
				.carousel{
					.carousel_container{
						.carouselson{
							.carousel_shadow{

								
									.c_left{
										img{}
									}
									.c_right{
										h2{}
											
										.coName{
											font-size: 1.7vw;
											overflow: hidden;
										}
										.coTxt{

											margin-top: 6px;
										}
										.bar{
											width: 47%;
											bottom: 28%;
											.inside-bar{}
										}
										.coCount{
											bottom: 20%;
										}
									}
								
								.c_btn{
									width: 13vw;
									a{
										h2{
											font-size: 2.5vw;
										}
									}
								}
							}
						}
						a{
							.section02-g3-i3{
								img{}
							}
						}
					}
				}
			}
			//========//latest
			.purpose{
				.purpose_img{
					img{

					}
				}
				.purpose_txt{
					h2{}
					.purp{
						&:nth-child(2):before{
						}
						&:nth-child(2){
						}
						&:nth-child(3){
						}
						&:nth-child(4):before{
						}
						&:nth-child(4){
						}
						&:nth-child(5){
						}
						&:nth-child(6):before{
						}
						&:nth-child(6){
						}
						&:nth-child(7){
						}

					}
					
				}
			}
			// ========//purpose
			.section04{
				.section04-g4-left{
					img{}
				}
				.section04-g4-right{
					img{}
				}
			}
			// ========//section04
			.bookmark{
				.mark_title{
					ul{
						li{
							width: 20%;
						}
					}
				}
				.mark_container{
					.mark_item{
						a{
							.item-box{
								.item-box-shadow{
									.box-img{
										img{}
										.square{
											img{}
										}
										
									}
									.box-fontt{
										.txt_name{
											font-size: 2vw;
											margin: auto;
											text-align: center;
											margin-top: -7px;
										}
										.txt_title{
											overflow: hidden;
											height: 30px;
										}
										.JQellipsis{
											height: 105px;
											overflow: hidden;
										}
										.bar{
											.inside-bar{}
										}
										.countP{
											margin-top: 2px;
											text-align: center;
											width: 100%;
											
										}
									}
								}
							}
							.c1{
								.mark_item{
									a{
										.item-box{
											.item-box-shadow{
												.box-img{
													img{}
													.square{
															img{}

													}
													.square:before {}
												}
												.box-fontt{
													.txt_name{}
													.txt_title{}
													.JQellipsis{}
													.bar{}
													.coP{
														width: 100%;
														text-align: center;
														
													

													}
													
													
													
												}	
											}
										}
									}
								}
							}
						}

					}
					.mark_deco{
						img{
						}
					}
					.mark_more{
						img{}
						a{
							h3{}
						}
					}
				}
				// .c4{
				// 	display: block;
				// }
			}
			//========//bookmark
			.risk{
				.risk_title{
					h2{}
				}
			}
			//========//section06
			.risk_container{
				.risk_range{
					
					.risk_txt{
						
						p{
							&:before{
							
							}
							&:nth-child(2){
							
							}
							&:nth-child(3){
								
							}
							&:nth-child(4){
								
							}
							&:nth-child(5){
								
							}
						}
					}
					.risk_img{
						img{
							
						}
					}
				}
			}
			//========//risk_container
			.stone_img{
				img{}
			}
	}
}

//@media




@media screen and (min-width: 320px) and (max-width: 767px){
.col-xs-1{ float: left; width: 8.333333%; box-sizing: border-box; padding: 0 10px; }
.col-xs-2{ float: left; width: 16.666666%; box-sizing: border-box; padding: 0 10px; }
.col-xs-3{ float: left; width: 25%; box-sizing: border-box; padding: 0 10px; }
.col-xs-4{ float: left; width: 33.333333%; box-sizing: border-box; padding: 0 10px; }
.col-xs-5{ float: left; width: 41.666666%; box-sizing: border-box; padding: 0 10px; }
.col-xs-6{ float: left; width: 50%; box-sizing: border-box; padding: 0 10px; }
.col-xs-7{ float: left; width: 58.333333%; box-sizing: border-box; padding: 0 10px; }
.col-xs-8{ float: left; width: 66.666666%; box-sizing: border-box; padding: 0 10px; }
.col-xs-9{ float: left; width: 75%; box-sizing: border-box; padding: 0 10px; }
.col-xs-10{ float: left; width: 83.333333%; box-sizing: border-box; padding: 0 10px; }
.col-xs-11{ float: left; width: 91.666666%; box-sizing: border-box; padding: 0 10px; }
.col-xs-12{ float: left; width: 100%; box-sizing: border-box; padding: 0 10px; }


	.containerhope{
		font-family: '微軟正黑體';
		margin: 0;
		h2{
			font-size: 34px;
			letter-spacing: 2px;
			font-weight: bold;
			color: #161616;
		}
		h3{
			font-size: 20px;
			letter-spacing: 2px;
			font-weight: bold;
			color: #555555;
		}
			.view{
				display: none;
				// height: 150px;
				.view_container{			
					.cloulds{
						display: none;
					}
					.for_h2{
						h2{
						display: none;
						}				
					}
				}	
			}
			//========//section01
			.hopefarmrwd-select{
				display: block;
				width: 100%;
				top: -1%;
				position: fixed;
				background-color: #ece7d4;
				z-index: 98;
				margin: auto;
				ul{
					padding: 78px 0 1px 0;
					background-color: #ece7d4;
				    text-align: center;
				    a{
				    	li{
					        display: inline-block;
					        display: inline-block;
					        border: 1px solid #699c33 ;
					        background-color: #ffffff;
					        cursor:pointer;
					        transition: .4s;
		  					text-align: center;
		  					padding: 0 0;
							h2{
								font-size: 5vw;
								font-family: Arial , '微軟正黑體';
					  			color: #699c33;
					  			padding: 10px 0 10px 0;
					  			text-decoration: none;
					  			letter-spacing: 2px;
					  			
							}
						}
				    }
					.active01{
							background-color: #699c33;
							border: 1px solid #699c33;
		  					color: #ffffff;
		  					cursor:pointer;
		  					transition: .4s;
		  					h2{
								color: #ffffff;
		  					}
		  			}
				}
			}
			//========//hopefarmrwd-select
			.latest{
				
				.latest_title{
					display: none;
					h2{}
					img{}
				}
				.latest_cloud{
					display: none;
					img{}
				}
				.carousel{
					display: none;
					.carousel_container{
						.carouselson{
							.carousel_shadow{
								a{
									.c_left{
										img{}
									}
									.c_right{
										h2{}
										p{}
										h4{}
										.bar{
											.inside-bar{}
										}
										h3{}
									}
								}
								.c_btn{
									a{
										h2{}
									}
								}
							}
						}
						a{
							.section02-g3-i3{
								img{}
							}
						}
					}
				}
			}
			//========//latest
			.purpose{
				margin-top: 58px;
				.purpose_img{
					width: 100%;
					img{

					}
				}
				.purpose_txt{
					width: 90%;
					h2{
						font-size: 24px;
						font-weight: 500;
						margin-bottom: 0;
					}
					.purp{
						text-overflow : ellipsis; 
						font-size: 19px;
						//margin-bottom: 3px;
						&:nth-child(2):before{
							content: '';
							width: 10px;
							height: 10px;
							display: inline-block;
							background-color: #699c33;
							border-radius: 50px;
							vertical-align: middle;
							margin-top: -5px;
						}
						&:nth-child(2){
							padding-bottom: 0;
							margin: 0;
						}
						&:nth-child(3){
							padding-bottom: 0;
							line-height: 23px;
							margin-bottom: 15px;
						}
						&:nth-child(4):before{
							content: '';
							width: 10px;
							height: 10px;
							display: inline-block;
							background-color: #699c33;
							border-radius: 50px;
							vertical-align: middle;
							margin-top: -5px;
						}
						&:nth-child(4){
							padding-bottom: 0;
							margin: 0;
						}
						&:nth-child(5){
							padding-bottom: 0;
							line-height: 23px;
							margin-bottom: 15px;
						}
						&:nth-child(6):before{
							content: '';
							width: 10px;
							height: 10px;
							display: inline-block;
							background-color: #699c33;
							border-radius: 50px;
							vertical-align: middle;
							margin-top: -5px;
						}
						&:nth-child(6){
							margin: 0;
							padding-bottom: 0;
						}
						&:nth-child(7){
							line-height: 23px;
						}

					}
					
				}
			}
			// ========//purpose
			.section04{
				.section04-g4-left{
					img{}
				}
				.section04-g4-right{
					img{}
				}
			}
			// ========//section04
			.bookmark{
				.mark_title{
					display: none;
					ul{
						li{}
					}
				}
				.mark_container{
					.mark_item{
						a{
							.item-box{
								.item-box-shadow{
									box-shadow: 0 0 8px 0 #ccc;
									&:hover{}
									.box-img{
										.box-imgToHover{
											.imgToHover{
												&:hover{}
												img{}
											}
										}
										.square{
											img{}
										}
										.square:before{} 
									}	
									.box-fontt{
										.txt_name{
											margin-top: -9px;
											font-size: 16px;
											margin-left: 0;
											text-align: center;
										}
										.txt_title{
											font-size: 24px;
											margin-bottom: 2px;
											font-weight: 500;
											color: #000;
										}
										.JQellipsis{
											font-size: 20px;
											letter-spacing: 2px;
											line-height: 23px;
										}
										.bar{
											margin-top: 10px;
											.inside-bar{}
										}
										.countP{
											font-size: 19px;
											padding-right: 0;
											width: 100%;
											text-align: center;
											margin-top: 10px;
											&:last-child{
												width: 100%;
												margin-top: 2px;

											}
										}
									}
								}
							}
						}


						
						a:nth-child(2) .item-box{
						margin-top: 6%;
						}
						a:nth-child(3) .item-box{
							margin-top: 6%;
						}
						a:nth-child(4) .item-box{
						margin-top: 6%;
						}
						a:nth-child(5) .item-box{
							margin-top: 6%;
						}
						a:nth-child(6) .item-box{
						margin-top: 6%;
						}
						
					}
					.mark_deco{
						img{
							display: none;
						}
					}
					.mark_more{
						width: 50%;
						img{
							width: 20%;
						}
						a{
							h3{}
						}
					}
				}
			}
			//========//bookmark
			.risk{
				margin-top: 20%;
				margin-bottom: 10px;
				.risk_title{
					h2{
						font-size: 28px;
						font-weight: 500;

					}
				}
			}
			//========//section06
			.risk_container{
				.risk_range{
					padding: 0 3%;
					.risk_txt{
						width: 100%;
						margin-top: 10px;
						.risk_p{
							letter-spacing: 2px;
							line-height: 160%;
							&:before{
							content: '';
							width: 10px;
							height: 10px;
							display: inline-block;
							background-color: #699c33;
							border-radius: 50px;
							vertical-align: middle;
							margin-top: -5px;
							margin-right: 6px;
							}
							&:nth-child(2){
								margin-top: 15px;
							}
							&:nth-child(3){
								margin-top: 15px;
							}
							&:nth-child(4){
								margin-top: 15px;
							}
							&:nth-child(5){
								margin-top: 15px;
							}
						}
					}
					.risk_img{
						img{
							display: none;
						}
					}
				}
			}
			//========//risk_container
			.stone_img{
				img{}
			}
	}
}


























