//每個格子統一固定padding
$cellPadding: 6px 4px;
//note web_back_form.css修正
.manage{width:16%}
.content_form{width:84%;}
botton{border:none;}
//hover效果



/* table起始 */
.myForm{
	width: 94%;
	margin:auto;
    table{width:100%}

	th, td{  /*每個格子統一固定padding*/    
		padding:$cellPadding;
		text-align: left;

		//自動斷行
		word-break:break-all;
		text-overflow : ellipsis;
	}

	
	tr>td:first-child{  /*每row第一個格子(編號)固定置中，灰色*/
		color:#888;
		text-align: center;
	}

	
	th{  /*th的樣式:上下有橘色線*/
		// border-top: 2px solid #F29600;
		border-bottom: 2px solid #ddd;
		background-color: #F29600;


	}
	td{
		font-weight: lighter;

	}

    
	.tdRow:nth-child(odd){/*基數白底，偶數灰底(第一row包th不算)*/
		background-color: #ddd;
	}
	.tdRow:nth-child(even){
		background-color: #fff;
	}
	.clear{
		clear: both;
	}
	

	
	//限制表格寬度固定
	table{  		
		table-layout:fixed
	}

	table{  /*每一欄的寬度設定。以百分比。剩的寬自動為最後一欄*/
		/*不能動！！第一欄固定為5%*/
		.red{
			td{
				color:#ff0;
				background-color: rgba(255, 0, 0, .4);
				}
			}
		tr{
			

			th{
				width: 3%;
				&:nth-child(1){
					width: 2%;
				}
				&:nth-child(6){
					width: 5%;
				}

				&:nth-child(9){
					width: 5%;
				}

			}
			
		}
		
		
	}
	ul{
		li{
			font-size: 20px;
			display: inline-block;
			color:#fff;
			padding-right: 2.2%;
			background-color: #594a41;
			span{
				color:#d6c9c4;

			}

		}
	}

//===========================================


	//按鈕
	.edit{
			background-color: #ccc;
			color:#fff;
			width: 100%;
			padding:4px 6px;
			border:none;
			box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	}
	.btn{
		width: 15%;
		margin-top: 20px;
		color:#000;
		// width: 100%;
		background-color: LemonChiffon ;
		padding:10px 6px;
		border:none;
		box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	}
}
.red{
	background-color: red;
}
.back{
	margin-top: 20px;
	width: 20%;
	float: right;
}

/* table結束 */

