//每個格子統一固定padding
$cellPadding: 16px 4px;
//按鈕圓角
$btnRadius: 6px;
//note web_back_form.css修正
.manage{width:16%}
.content_form{width:84%;}
select{outline:inherit;}


//遮掉篩選條件
nav{
	.nav_item{
		&:nth-child(3){
			display:hidden;
		}
		&:nth-child(4){
			display:hidden;
		}
		&:nth-child(5){
			display:hidden;
		}
	}
}

/* table起始 */
.myForm{
	width: 94%;
	margin:auto;		
	//固定線
	position: relative;
	.pro_line{
		position: absolute;
		width: 1px;
		height: 344px;
		margin:auto;
		left: 63.4%;
		top: 84px;
		background-color: #aaa;
	}
	.pro_photos{
		img{
			width: 100%;
			border: 1px solid #ddd;
		}
		div{
			width: 30%;
			float: left;
			margin: 1% 0.5%;
			padding: 1% 1%;
		}
	}
	table{  
		width: 100%;
		//限制表格寬度固定		
		table-layout:fixed;
		background-color:#fff;
		border-radius: 10px;
		padding: 0px 6px;
	}

    tr:not(.hide) >td{  /*每個格子統一固定padding*/    
		padding:$cellPadding;

		//自動斷行
		word-break:break-all;
		text-overflow : ellipsis;
	}

	tr:not(.hide) >th{
		font-weight: normal;
		text-align: center;
	}

	//所有輸入格的統一樣式
	@mixin boxSet{		
		padding: 6px 10px;
		background-color:  LemonChiffon;
		border: none;

		&:focus{
			outline-color: #F29600;
		}
	}
	select,option{
		width: 91%;
		@include boxSet;
	}
	input{
		width: 88%;
		@include boxSet;
	}
	textarea{
		padding: 6px 10px;
		width: 88%;
		background-color:  LemonChiffon;
		border: none;
		resize: none;
		&:focus{
			outline-color: #F29600;
		}
	}


	//商品編號那一條
	.pro_numDisable{
		color: #fff;
		div{
			width: 100%;
			padding: 2px 2px;
			background-color:SaddleBrown;
		}
		.input{
			width: 98%;
			padding: 2px 10px;
			font-size: 0;
			span{
				font-size: 16px;
			}
		}
	}
	
	


	table{  /*每一欄的寬度設定。以百分比。剩的寬自動為最後一欄*/
		/*不能動！！第一欄固定為5%*/
		tr th:nth-child(1){
			width: 10%;
		}
		tr td:nth-child(2){
			width: 55%;
		}
		tr th:nth-child(3){
			width: 10%;
		}
	}



	
//===========================================


	//按鈕
	.btn{
		background-color: LemonChiffon ;
		padding:4px 6px;
		border:none
	}


}
.proSave{
	margin:auto;
	margin-top: 20px;
	.submit{
		box-sizing: border-box;
		margin: auto;
		display: block;
		background-color: #F29600;
		padding:10px 0px;
		width: 50%;
		border: 2px solid #F29600;
		color: #fff;
		outline:none;
		border-radius: $btnRadius;
		cursor: pointer;
		&:hover{
			color: #F29600;
			background-color: #fff;
		}
		&:active{
			transform: scale(.98 ,.98);
		}
	}
}

/* table結束 */
