h1 {
  font-size: 44px;
  color: #659e34; }

h2 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.6); }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 24px; } }

p {
  color: #43612f;
  font-size: 18px; }
  @media screen and (max-width: 767px) {
    p {
      font-size: 14px; } }

img {
  width: 100%; }

.container {
  padding-top: 8%;
  width: 60%;
  margin: auto; }
  @media screen and (max-width: 767px) {
    .container {
      width: 90%;
      overflow: hidden; } }
  .container .applicationTitle {
    width: 100%;
    margin: auto;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .container .applicationTitle {
        width: 100%;
        text-align: center; } }
    .container .applicationTitle .item {
      width: 40%;
      text-align: right;
      display: inline-block;
      vertical-align: middle; }
      @media screen and (max-width: 767px) {
        .container .applicationTitle .item {
          width: 35%; }
          .container .applicationTitle .item h1 {
            font-size: 24px; } }
      .container .applicationTitle .item img {
        width: 200px; }
        @media screen and (max-width: 767px) {
          .container .applicationTitle .item img {
            width: 100%; } }
      .container .applicationTitle .item h1 {
        text-align: left; }
  .container form {
    margin: 50px auto;
    padding: 50px 0;
    background-color: #ece7d4;
    font-weight: bold;
    font-size: 20px; }
    .container form .table {
      width: 80%;
      margin: auto; }
      @media screen and (max-width: 767px) {
        .container form .table {
          margin: auto; } }
      .container form .table .tr {
        display: table-row;
        height: 100px;
        margin: auto;
        text-align: center; }
        @media screen and (max-width: 767px) {
          .container form .table .tr {
            display: block;
            overflow: hidden; } }
        .container form .table .tr .td {
          width: 30%;
          display: table-cell;
          vertical-align: middle; }
          .container form .table .tr .td:first-child {
            text-align: left; }
          .container form .table .tr .td label {
            font-size: 18px; }
          .container form .table .tr .td input {
            border-radius: 6px;
            outline: none;
            border: none;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.9);
            height: 30px; }
          .container form .table .tr .td textarea {
            background-color: rgba(255, 255, 255, 0.9);
            outline: none;
            border: none;
            border-radius: 6px; }
          @media screen and (max-width: 767px) {
            .container form .table .tr .td {
              display: block;
              margin: auto;
              text-align: center;
              width: 100%; }
              .container form .table .tr .td:first-child {
                text-align: center; } }
  .container .formSubmit {
    width: 200px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto; }
