@charset "UTF-8";
body {
  background-image: url("../../src/image/cart/cart-bg.png"); }

.tabmenu {
  width: 100%;
  background-color: #e9dcb0; }
  .tabmenu ul {
    list-style: none;
    width: 60%;
    margin-left: 20%; }
    .tabmenu ul li {
      display: inline-block;
      padding: 2%;
      font-size: 16px;
      border-bottom: 5px solid transparent; }
      .tabmenu ul li a {
        text-decoration: none;
        display: block;
        color: #58483e; }
      .tabmenu ul li:hover {
        border-bottom: 5px solid #58483e; }

.container {
  width: 60%;
  margin: auto; }
  .container h1 {
    font-size: 44px;
    color: #659e34; }
  .container h2 {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.6); }
    @media screen and (max-width: 767px) {
      .container h2 {
        font-size: 20px; } }
  .container p {
    color: #43612f;
    font-size: 18px; }
    @media screen and (max-width: 767px) {
      .container p {
        font-size: 14px; } }
  .container img {
    width: 100%; }
  @media screen and (max-width: 767px) {
    .container {
      width: 90%; } }
  .container a {
    text-decoration: none; }
  .container .applicationTitle {
    width: 100%;
    margin: auto;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .container .applicationTitle {
        width: 100%;
        text-align: center; } }
    .container .applicationTitle .item {
      width: 40%;
      text-align: right;
      display: inline-block;
      vertical-align: middle; }
      @media screen and (max-width: 767px) {
        .container .applicationTitle .item {
          width: 35%; }
          .container .applicationTitle .item h1 {
            font-size: 24px; } }
      .container .applicationTitle .item img {
        width: 200px; }
        @media screen and (max-width: 767px) {
          .container .applicationTitle .item img {
            width: 100%; } }
      .container .applicationTitle .item h1 {
        text-align: left; }
  .container .SubTitle {
    text-align: center;
    line-height: 25px; }
    .container .SubTitle p {
      line-height: 25px; }
    @media screen and (max-width: 767px) {
      .container .SubTitle {
        width: 100%;
        text-align: center;
        margin: auto; }
        .container .SubTitle p {
          line-height: 20px; } }
  .container form .stepContent {
    background-color: #ece7d4;
    margin: 50px auto;
    padding: 50px 0;
    text-align: center;
    position: relative; }
    .container form .stepContent:first-child {
      background-color: transparent; }
    @media screen and (max-width: 767px) {
      .container form .stepContent#hidden {
        display: none; } }
    @media screen and (max-width: 767px) {
      .container form .stepContent {
        padding: 10% 0; } }
    .container form .stepContent h2 {
      text-align: center;
      margin-bottom: 30px; }
    .container form .stepContent .stepAll {
      width: 30%;
      display: inline-block; }
    .container form .stepContent .stepContentNumber {
      position: absolute;
      left: -50px;
      top: -50px; }
      @media screen and (max-width: 767px) {
        .container form .stepContent .stepContentNumber {
          width: 20%;
          left: -5%;
          top: -35px; } }
    .container form .stepContent .btn_brown {
      font-weight: normal; }
    .container form .stepContent table {
      margin: auto; }
      .container form .stepContent table tr {
        height: 60px;
        text-align: left; }
      .container form .stepContent table input {
        border: 1px solid #759944;
        color: #759944;
        background-color: #FFF;
        height: auto;
        padding-left: 3.5%;
        font-size: 20px;
        font-weight: bold;
        line-height: 2;
        vertical-align: middle;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 5px; }
      .container form .stepContent table th {
        font-weight: normal;
        font-size: 20px; }
      .container form .stepContent table td {
        text-align: center; }
      .container form .stepContent table .gender {
        width: 30%;
        display: inline-block;
        line-height: 30px;
        vertical-align: middle; }
      @media screen and (max-width: 767px) {
        .container form .stepContent table input {
          font-size: 14px; }
        .container form .stepContent table th {
          font-size: 16px; } }
    .container form .stepContent .upItem {
      width: 80%;
      margin: auto;
      text-align: center; }
      .container form .stepContent .upItem input {
        width: 50%;
        margin: auto;
        border-radius: 6px;
        border: none;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.9); }
  .container form .formSubmit {
    width: 200px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }

.two, .three {
  width: 60%;
  margin: auto; }
  @media screen and (max-width: 767px) {
    .two, .three {
      width: 90%;
      overflow: hidden; } }
  .two .applicationTitle, .three .applicationTitle {
    width: 100%;
    margin: auto;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .two .applicationTitle, .three .applicationTitle {
        width: 100%;
        text-align: center; } }
    .two .applicationTitle .item, .three .applicationTitle .item {
      width: 40%;
      text-align: right;
      display: inline-block;
      vertical-align: middle; }
      @media screen and (max-width: 767px) {
        .two .applicationTitle .item, .three .applicationTitle .item {
          width: 35%; }
          .two .applicationTitle .item h1, .three .applicationTitle .item h1 {
            font-size: 24px; } }
      .two .applicationTitle .item img, .three .applicationTitle .item img {
        width: 200px; }
        @media screen and (max-width: 767px) {
          .two .applicationTitle .item img, .three .applicationTitle .item img {
            width: 100%; } }
      .two .applicationTitle .item h1, .three .applicationTitle .item h1 {
        text-align: left; }
  .two form, .three form {
    padding: 50px 0;
    background-color: #ece7d4;
    font-size: 20px; }
    .two form .table, .three form .table {
      width: 80%;
      margin: auto; }
      @media screen and (max-width: 767px) {
        .two form .table, .three form .table {
          margin: auto; } }
      .two form .table .tr, .three form .table .tr {
        display: table-row;
        height: 100px;
        margin: auto;
        text-align: center; }
        @media screen and (max-width: 767px) {
          .two form .table .tr, .three form .table .tr {
            display: block;
            overflow: hidden; } }
        .two form .table .tr .td, .three form .table .tr .td {
          width: 30%;
          display: table-cell;
          vertical-align: middle; }
          .two form .table .tr .td:first-child, .three form .table .tr .td:first-child {
            text-align: left; }
          .two form .table .tr .td label, .three form .table .tr .td label {
            font-size: 18px; }
          .two form .table .tr .td input, .three form .table .tr .td input {
            border: 1px solid #759944;
            color: #759944;
            background-color: #FFF;
            height: auto;
            padding-left: 3.5%;
            font-size: 18px;
            font-family: '微軟正黑體';
            font-weight: bold;
            line-height: 2;
            vertical-align: middle;
            display: inline-block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 5px; }
          .two form .table .tr .td textarea, .three form .table .tr .td textarea {
            background-color: rgba(255, 255, 255, 0.9);
            outline: none;
            border: none;
            border-radius: 6px; }
          .two form .table .tr .td #photo, .three form .table .tr .td #photo {
            width: 80%; }
          @media screen and (max-width: 767px) {
            .two form .table .tr .td, .three form .table .tr .td {
              display: block;
              margin: auto;
              text-align: center;
              width: 100%; }
              .two form .table .tr .td:first-child, .three form .table .tr .td:first-child {
                text-align: center; } }
  .two .formSubmit, .three .formSubmit {
    width: 200px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin: 10% auto; }

.feedback {
  display: none;
  width: 100%;
  background-color: #ece7d4;
  color: #51504d;
  text-align: center; }
  .feedback span {
    display: inline-block;
    padding-left: 5%;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .feedback span {
        display: block; } }
  .feedback .feedbackCotent {
    width: 50%;
    text-align: left;
    margin: auto; }
    .feedback .feedbackCotent > div {
      margin: 5% 0; }
    @media screen and (max-width: 767px) {
      .feedback .feedbackCotent {
        text-align: center; } }

.navbar {
  text-align: center;
  width: 100%;
  margin-top: 10%; }
  .navbar .navbarli {
    display: inline-block;
    font-size: 24px;
    background-color: #fff;
    color: #699c33;
    padding: 2px 2vw;
    border: 2px solid #699c33;
    cursor: pointer;
    /* border-radius: 10%; */
    /* margin: 0 2%; */
    /* width: 100%; */ }
    .navbar .navbarli:hover {
      background-color: #699c33;
      color: #fff;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  @media screen and (max-width: 767px) {
    .navbar {
      padding-top: 15%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .navbar .navbarli {
        font-size: 18px; } }
