.container {
  padding-top: 8%;
  width: 60%;
  margin: auto;
  padding-top: 8%;
}

.container > div {
  margin: 5% 0;
}

.container h1 {
  font-size: 44px;
  color: #659e34;
}

.container h2 {
  font-size: 28px;
  color: rgba(0, 0, 0, .6);
}

@media screen and (max-width: 767px) {
  .container h2 {
    font-size: 20px;
  }
}

.container p {
  color: #659e34;
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .container p {
    font-size: 14px;
  }
}

.container img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.container a {
  text-decoration: none;
}

.container .applicationTitle {
  width: 100%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container .applicationTitle {
    width: 100%;
    text-align: center;
  }
}

.container .applicationTitle .item {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .container .applicationTitle .item {
    width: 50%;
  }
  .container .applicationTitle .item h1 {
    font-size: 24px;
  }
}

.container .applicationContent {
  background-color: #ece7d4;
}

.container .applicationContent .table {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .container .applicationContent .table {
    margin: auto;
  }
}

.container .applicationContent .table .tr {
  display: table-row;
  height: 100px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container .applicationContent .table .tr {
    display: block;
    overflow: hidden;
  }
}

.container .applicationContent .table .tr .td {
  width: 30%;
  display: table-cell;
  vertical-align: middle;
}

.container .applicationContent .table .tr .td:first-child {
  text-align: left;
}

.container .applicationContent .table .tr .td label {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .container .applicationContent .table .tr .td {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .container .applicationContent .table .tr .td:first-child {
    text-align: center;
  }
}

.container .applicationConfirm {
  text-align: center;
}

.feedback {
  padding: 5% 0;
  width: 100%;
  background-color: #ece7d4;
  color: #51504d;
  text-align: center;
}

.feedback span {
  display: inline-block;
  padding-left: 5%;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .feedback span {
    display: block;
  }
}

.feedback .feedbackCotent {
  width: 50%;
  text-align: left;
  margin: auto;
}

.feedback .feedbackCotent > div {
  margin: 10% 0;
}

@media screen and (max-width: 767px) {
  .feedback .feedbackCotent {
    text-align: center;
  }
}
