* {
  margin: 0;
  padding: 0; }

img {
  width: 100%; }

.clear:after {
  clear: both;
  content: "";
  display: block; }

h2 {
  font-size: 28px; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 24px; }
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 20px; } }

p {
  font-size: 18px;
  color: #7e7a7f; }
  @media screen and (max-width: 767px) {
    p {
      font-size: 14px; } }

section {
  width: 100%;
  background-image: url("../../src/image/fish/base.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  section .fish_universeBase {
    position: relative; }
    section .fish_universeBase .star > img {
      width: 90%; }
    section .fish_universeBase .fish_universeTitle {
      width: 60%;
      position: absolute;
      left: 5%;
      top: 8%;
      opacity: 0;
      -webkit-animation: smoke 0.8s 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
      animation: smoke 0.8s 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards; }
      section .fish_universeBase .fish_universeTitle .title_txt {
        width: 70%;
        position: absolute;
        left: 5%;
        top: 10%; }
    section .fish_universeBase .fish_universeItem {
      margin: auto;
      position: absolute; }
      section .fish_universeBase .fish_universeItem#rocket {
        width: 20%;
        left: 55%;
        top: 13%; }
      section .fish_universeBase .fish_universeItem#earth {
        width: 30%;
        left: 70%;
        right: 0;
        top: 30%;
        margin: auto;
        -webkit-animation: earth 30s infinite linear;
        animation: earth 30s infinite linear; }
      section .fish_universeBase .fish_universeItem#hand {
        width: 20%;
        left: 70%;
        right: 0;
        bottom: -2%;
        margin: auto; }
      section .fish_universeBase .fish_universeItem#tank {
        width: 20%;
        left: 70%;
        right: 0;
        bottom: 30%;
        margin: auto; }
        section .fish_universeBase .fish_universeItem#tank #fish {
          position: absolute;
          width: 50%;
          left: 0;
          right: 0;
          bottom: 20%;
          margin: auto;
          -webkit-animation: swim 5s infinite  linear;
          animation: swim 5s infinite  linear; }
      section .fish_universeBase .fish_universeItem#plant {
        width: 15%;
        left: 70%;
        right: 0;
        top: 10%;
        margin: auto; }
      section .fish_universeBase .fish_universeItem#planet {
        width: 15%;
        left: 40%;
        top: 75%; }

@-webkit-keyframes smoke {
  from {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    left: 30%;
    top: 5%;
    opacity: 0; }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 5%;
    opacity: 1; } }

@keyframes smoke {
  from {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    left: 30%;
    top: 5%;
    opacity: 0; }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 5%;
    opacity: 1; } }

@-webkit-keyframes earth {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes earth {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes swim {
  from {
    left: -40%; }
  20% {
    left: 0;
    bottom: 15%; }
  50% {
    left: 40%;
    bottom: 20%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50.5% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  70% {
    left: 0;
    bottom: 10%; }
  90% {
    left: -20%;
    bottom: 20%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  to {
    left: -40%;
    bottom: 10%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); } }

@keyframes swim {
  from {
    left: -40%; }
  20% {
    left: 0;
    bottom: 15%; }
  50% {
    left: 40%;
    bottom: 20%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50.5% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  70% {
    left: 0;
    bottom: 10%; }
  90% {
    left: -20%;
    bottom: 20%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  to {
    left: -40%;
    bottom: 10%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); } }

.container .step {
  width: 60%;
  margin: 0  auto 100px;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .container .step {
      width: 90%; } }
  .container .step .stepFlow {
    width: 100%;
    margin: auto;
    padding: 10% 0 0;
    vertical-align: middle;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 1199px) and (max-width: 768px) {
      .container .step .stepFlow {
        width: 100%;
        padding: 0; } }
    .container .step .stepFlow .stepFlowLeft {
      width: 40%;
      float: left; }
      @media screen and (min-width: 1199px) and (max-width: 768px) {
        .container .step .stepFlow .stepFlowLeft {
          width: 100%;
          padding: 0; } }
      .container .step .stepFlow .stepFlowLeft .stepbig {
        color: #7e7a7f;
        margin: 10% 0;
        text-align: center; }
        .container .step .stepFlow .stepFlowLeft .stepbig#one {
          left: 10%;
          top: 10%; }
          @media screen and (max-width: 767px) {
            .container .step .stepFlow .stepFlowLeft .stepbig#one {
              left: 0;
              top: 0; } }
        .container .step .stepFlow .stepFlowLeft .stepbig#two {
          right: 10%;
          top: 20%; }
          @media screen and (max-width: 767px) {
            .container .step .stepFlow .stepFlowLeft .stepbig#two {
              left: 0; } }
        .container .step .stepFlow .stepFlowLeft .stepbig#three {
          right: 20%;
          top: 50%; }
          @media screen and (max-width: 767px) {
            .container .step .stepFlow .stepFlowLeft .stepbig#three {
              left: 0; } }
        .container .step .stepFlow .stepFlowLeft .stepbig .stepCircle {
          width: 100px;
          height: 100px;
          margin: auto;
          text-align: center;
          color: #fff;
          font-size: 40px;
          font-weight: bold;
          line-height: 100px;
          border-radius: 50px; }
          @media screen and (max-width: 767px) {
            .container .step .stepFlow .stepFlowLeft .stepbig .stepCircle {
              width: 50px;
              height: 50px;
              font-size: 18px;
              line-height: 50px; } }
          .container .step .stepFlow .stepFlowLeft .stepbig .stepCircle#stepOne {
            background-color: #50b26d; }
          .container .step .stepFlow .stepFlowLeft .stepbig .stepCircle#stepTwo {
            background-color: #466f79; }
          .container .step .stepFlow .stepFlowLeft .stepbig .stepCircle#stepThree {
            background-color: #ebc125; }
    .container .step .stepFlow .stepFlowRight {
      width: 60%;
      float: left;
      position: relative; }
      @media screen and (min-width: 1199px) and (max-width: 768px) {
        .container .step .stepFlow .stepFlowRight {
          width: 100%; } }
      .container .step .stepFlow .stepFlowRight .arrow {
        position: absolute;
        z-index: -1; }
  .container .step .stepContent {
    width: 100%;
    margin: auto;
    padding: 5% 10%;
    box-sizing: border-box; }
    .container .step .stepContent p {
      color: #7e7a7f; }
  .container .step .stepBuy {
    width: 150px;
    text-align: center;
    background-color: #e8d59b;
    margin: auto; }
    .container .step .stepBuy a {
      text-decoration: none;
      color: #ffffff;
      display: block; }
      .container .step .stepBuy a:hover {
        color: #699c33; }

.container .theory {
  width: 60%;
  margin: 0 auto 100px; }
  @media screen and (max-width: 767px) {
    .container .theory {
      width: 90%; } }
  .container .theory .theory_word {
    padding: 5% 10%; }
    .container .theory .theory_word .theoryTitle {
      text-align: left;
      border-bottom: 2px solid  #83827e;
      margin: 5% 0%; }
  .container .theory .theoryVideo {
    width: 80%;
    height: 0;
    padding-bottom: 45%;
    margin: auto;
    position: relative; }
    .container .theory .theoryVideo iframe {
      width: 100%;
      height: 100%;
      position: absolute; }

.container .role {
  width: 60%;
  margin: auto;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .container .role {
      width: 100%; } }
  .container .role .role_word {
    padding: 5% 10%; }
    .container .role .role_word .roleTitle {
      text-align: left;
      border-bottom: 2px solid  #83827e; }
  .container .role .roleItem {
    width: 30%;
    display: inline-block;
    margin: auto; }
    @media screen and (max-width: 767px) {
      .container .role .roleItem {
        width: 100%;
        margin: 5% auto; } }
    .container .role .roleItem .roleItemTitle {
      text-align: center; }
    .container .role .roleItem .roleItemPic {
      margin: auto; }
      @media screen and (max-width: 767px) {
        .container .role .roleItem .roleItemPic {
          width: 50%; } }
    .container .role .roleItem .roleItemTxt {
      width: 100%;
      margin: auto; }
      @media screen and (max-width: 767px) {
        .container .role .roleItem .roleItemTxt {
          width: 80%; } }
      .container .role .roleItem .roleItemTxt p {
        padding: 0 10px;
        text-align: justify; }
