  
// rwd 
    $mobile : 767px ; 
    $tablet_min : 768px;
    $tablet_max : 1199px;
    $desktop : 1200px;



    @mixin rwd ($breakpoint) {
        @if $breakpoint == "mobile" {
            @media all and (max-width: $mobile) {
                @content;
            }
        }
        @else if $breakpoint == "tablet" {
            @media all and (min-width: $tablet_min) and (max-width:$tablet_max) {
                @content;
            }
        }
        @else if $breakpoint == "desktop" {
            @media all and (min-width: $desktop) {
                @content;
            }
        }
    }