@charset "UTF-8";

$imgBorder: 1px solid rgba(0,0,0,.1);

$pro_contain:1440;
$pro_eachSeedW: $pro_contain*0.25;
@mixin pro_eachSeed(){
	width: ($pro_eachSeedW)-20 +px;
	height: ($pro_eachSeedW)*1.1-20 +px;
  
}

//填入字體大小和顏色，顏色預設為橘色
$highLight:#F7931E;
@mixin pro_sTitle($num,$color:#F7931E){
	font-size: $num+px;
	color: $color;
}

//按鈕設定
@mixin btn($font:24,$color:#219B00){
	padding: 4px 24px;
	min-width:100px;
	border-radius: 10px;
	border-style: none;
	font-size: $font+px; 
	background-color: $color;
	letter-spacing: 1px;
	transform: translateY(-2px);
	box-shadow: 2px 2px 0 0 #ccc;
	&:hover{
		transform: translateY(0px);
		box-shadow: none;
	}
}
p{
	// font-size:18px;
}
img{ 
	// width: 100%;
	vertical-align: top; 
}

.ccc{
	clear: both;
}

/* 遮雨棚 */
.pro_tent{
	position: relative ;
	div{
		img{ width: 100%; }
	}
	h1{
		position: absolute;
		margin: auto;
		top: 68%;
		right: 0;
		left: 0;
		text-align: center;
	}
}








/* 種子市場 */
.pro_seed{
	/*背景圖大小 1770*1337*/
	background-image: url("../src/image/product/pro-bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;


	/* 商品區(種子)*/
	.pro_s_cabinet{
		width: $pro_contain+px;
		margin: auto;
		list-style:none;
		// overflow: hidden; 
		border: 10px solid #6D5844;
		margin-top: 10%;
		
		/* 商品 */
		&>li{
			@include pro_eachSeed();
			border: 10px solid #6D5844;
			background-color: #514336;
			position: relative; 
			float:left;
			
			
			//hover前
			.pro_s_vegetable{
				@include pro_eachSeed();
				
				//菜的牌子+new
				.pro_s_brand{
					width: $pro_eachSeedW*0.3333+px;
					margin: auto;
					left: 0;
					right: 0;
					top: -10%; 
					position: absolute;
					div{
						border-radius: 6px;						
						&:first-child{
							img{ width: 100%}}
						&:nth-child(2){
							background-color: #ccc;						
							text-align: center;
							margin: auto;
							margin-top: -80%;
							@include pro_sTitle(30);
						}
						&:last-child{
							width: 60%;
							margin: auto;
							margin-right: -28%;
							margin-top: -60%;
							transform: rotateZ(25deg);
							img{ width: 100%;} 
						}
					}
				}

				//菜菜
				.pro_s_img{
					position: absolute;
					width: $pro_eachSeedW+px;
					margin: auto;
					left: -10px;
					right: 0;
					bottom: 0; 
					// top: 0;
					img{width: 100%;}
				}
			}//--hover前

			//hover後
			.pro_s_white{
				opacity: 0; 
				@include pro_eachSeed();
				background-color: rgba(255,255,255,.9);
				position: absolute;
				margin: auto;
				top: 0;
				z-index: 5; 
				//資訊
				.pro_s_info{
					width: 80%;
					margin: auto;
					margin-top: 30px; 
					//標題
					h2{
						text-align: center;
						color: $highLight;
					}

					//黑色分隔線
					.pro_s_line{
						height: 1px;
						width: 90%;
						background-color: #000;
						margin: 20px auto; 
					}

					//文字段
					p{
						text-align: center;
					}

					//價格和購買按鈕
					.pro_s_buy{
						margin: auto;
						text-align: center;
						margin: 20px auto; 
						span{
							@include pro_sTitle(24,#F15A24);
							display: inline-block;
							width: 40%;
							font-weight: bold;
						}
						.btn{
							@include btn(16);
							color: #fff; 
						}
					}
				}//--資訊

			}//--hover後

			/* hover */
			&:hover{
				.pro_s_white{ opacity: 1; }
				.pro_s_brand{ opacity: 0; }
			}
		}//--商品
	}//--商品區(種子)

	/* 攤販底部 */
	.pro_s_end{
		width: 100%;
		background-size: contain;
		background-position: center bottom;
		background-repeat: no-repeat;
		div{
			margin: auto;
			width: $pro_contain+px;
			border: 10px solid #877159;
			img{width: 100%;}
		}
	}

}















/* 魚缸超市 */
.pro_tank{
	background-image: url("../src/image/product/pro-bg2.jpg");
	/* 商品區(魚缸) */
	.pro_t_wheel{
		margin: auto;
		position: relative;
		margin-top: 9%;
		
		//幻燈箱可視區
		.pro_t_lightbox{ 
			width: $pro_contain+px;
			margin: auto;
			overflow: hidden;
		
			// 商品選單
			.pro_t_shelf{
				width: $pro_contain*0.92 +px;
				text-align: center ;
				list-style:none;
				margin: auto;
				
				//每個商品
				li{
					width: 33.33%;
					padding: 0px 20px;
					box-sizing: border-box; 
					float: left;
					text-align: center;
					&>div{
						&:first-child{
							width: 60%;
							margin: auto;
							border-radius: 10%;
							overflow: hidden;
							border: $imgBorder;
							img{ width: 100%}
						}
						&:last-child{
							margin: 5% auto;
							.pro_s_name{
								@include pro_sTitle(30,#999);
							}
							div{
								&:last-child{
									@include pro_sTitle(24);
								}
							}
						}
					}
				}//--li 每個商品
			}//--商品選單
		}
		// 向左右
		.pro_t_toRL{
			width: $pro_contain+px;
			height: 88%; 
			margin: auto;
			left: 0;
			right: 0;
			bottom: 12%; 
			// border:1px solid pink; 
			position: absolute ;
			&>a{ 
				padding: 20px; 
				font-size: 30px; 
				height: 100%;
				color:#777;
				&:hover{
					background-color: #ccc;
					opacity: .5; 
				}
				i{margin-top: 130px; }
				&:first-child{ float: left; }
				&:last-child{ float: right; }
			}
		}

	}//--商品區(魚缸)

	/* 層架圖 */
	.pro_t_shelfImg{
		margin: auto;
		width: $pro_contain+px;
		img{width: 100%} 
	}

	/* 魚缸資料區 */
	.pro_t_info{
		width: $pro_contain+px;
		margin: auto;
		padding: 5% 0; 
		>div+div{
			margin-top: 4%;
		}
		/* 大圖+標題+按鈕的部分 */
		.pro_t_infoTop{
			height: 100%;
			//左大圖
			.pro_t_infoTL{
				width: 50%;
				float: left;
				padding: 10px 0px; 			
				div{
					width: 80%;
					margin: auto;
					border: $imgBorder;
					img{ width: 100%;}
					
				}
			}
			//右邊
			.pro_t_infoTR{ 
				margin: auto;
				margin-top: 8%;
				width: 50%;
				float: left;
				h2{
					text-align: center;
					color: #999; 
				}
				.pro_t_imgGroup{
					text-align: center;
					font-size: 0px;
					margin-top: 50px;
					li{
						display: inline-block;
						border: $imgBorder;
					}
					& li+li{
						margin-left:2%;
					}

				}
				.pro_t_TBuy{
					text-align: center;					
					margin-top: 100px;
					span{ 
						@include pro_sTitle(24,#F15A24);
						font-weight: bold;
					}
					button{
						margin-left: 20px;
						color: #fff;
						@include btn();
					}
				}
			}
		}

		/* 規格和注意事項 */
		.pro_t_infoBottom{
			h3{
				@include pro_sTitle(24,#333);
				margin: 14px 0;
				padding: 4px 10px; 
				background-color: #C19369;
				color: #fff;
				font-weight: normal; 
			}
			div{
				width: 97%; 
				margin: 2% auto;
				line-height: 26px;
				letter-spacing: 1px;
				color: #555;   
			}
		}
	} //--魚缸資料區
}

