@charset "UTF-8";
@import "../mixins/media";


.clear:after{
	clear:both;
	content:"";
	display:block;
}



body{
	background-image:url('../../src/image/cart/cart-bg.png');
}

header .mainmenu {
	@include rwd (moblie){
		position:fixed;
	}	
}

//section
section.fish_first{ 
	width:100%;
	position:relative;
	@include rwd (moblie){
		margin-top:50px;
	}

	img{
		
		width:100%;
	}
	#fish_banner{
		@include rwd (moblie){
			opacity:0.7;
			position:relative;
		}
	}

	.field{
		position:absolute;
		bottom:0;
		// animation: field 30s infinite linear;
	}

	.fishitem{
		
		position:absolute;
		top:0%;
		&.swing{
			width:30%;
			top:35%;
			left:60%;	
		}
		&:nth-child(4){
			width:80%;
			top:0%;
			right:5%;
			animation:bird 2s ease-in-out infinite;
		}
		&:nth-child(5){
			width:70%;
			top:10%;
			right:10%;
			animation:bird 1.5s 1s ease-in-out infinite;
		}

	}
	.fishbase{
		
		width:45%;
		position:absolute;
		top:8%;
		box-sizing:border-box;
		text-align:center;	
		h2,h3{
		color:#6a3906;
		line-height:2;
		}
		h2{
			font-size:38px;
		}
		h3{
			font-size:1.5em;
		}
		@include rwd (moblie) {	
			// padding-top:12%;
			width:50%;
			h2{
				font-size:16px;
			}
			h3{
				font-size:12px;
			}

		}
	}
}


//內容開始
.container{
	width:100%;
	max-width:1440px;
	margin:auto;
	padding:0;
	
	img{
		width:100%;
	}
	h2{
		font-size:28px;
		@include rwd (moblie) {	
			font-size:24px;		
		}
	}
	h3{
		font-size:24px;
		@include rwd (moblie) {	
			font-size:20px;		
		}
	}
	p{
		font-size: 18px;
		color: #59493f;
		line-height: 2;
		
		margin-bottom:2%;
		@include rwd (moblie) {	
    		font-size:14px;
		}
	}
	.step{
		// background-image:url("../../src/image/fish/farmer.png");
		// 	background-repeat:no-repeat;
		// 	background-position:left top;
		width:90%;
		// max-width:1440px;
		// margin:auto;
		margin: 0  auto ;
		position:relative;
		overflow:hidden;
		
	
		 @include rwd (moblie) {	
    		width:90%;
		}
		.stepFlow{
			
			width:100%;
			margin:auto;
			padding: 10% 0 0 ;
			vertical-align:middle;
			display:flex;
			align-items:center;

			@include rwd (tablet) {	
    			width:100%;
    			padding:0;
			}
			
			.stepFlowLeft{
				width:30%;
				position:relative;
				 @include rwd (moblie) {	
    				display:none;
				}
			}
			.stepFlowRight{
				
				width:50%;
				margin:auto;
				position:relative;
				@include rwd (moblie) {	
    			   width:85%;
				}

				.arrow{
					position:absolute;
					z-index:1;
				}

			}
		}
		

		.swim{
			width:15%;
			position:absolute;
			// animation:swim 10s infinite  linear;
			// z-index:100;	
		}

		.stepContent{
			width:100%;
			margin:auto;
			padding:5% 10% 0;
			box-sizing:border-box;
			p{
    			text-indent:2.2em;
    			margin-bottom:2%;
			}
			@include rwd (moblie) {	
    			font-size:14px;
			}
		}

		
		.hr{
			width:70%;
			margin:auto;
		}

			

		
		.stepBuy{
			width:150px;
			text-align:center;
			// line-height:50px;
			background-color:#e8d59b;
			margin:auto;
			a{
				display:block;
				text-decoration:none;
				// color:#000;
				// color: #ffffff;
				
			// &:hover{
			// 	color: #699c33;
			// }
			}
		}
	}


// 運作原理
	.theory{
		width:90%;
		margin: 0 auto;
		background-image:url('../../src/image/fish/movie2.png');
		background-size:25%;
		background-repeat:no-repeat;
		background-position:right bottom;

		@include rwd (moblie) {	
		    width:90%;
		}

		.theory_word{
			padding:10% 10% 0;
			.theoryTitle{
				text-align:center;
				// border-bottom:2px solid  #83827e;
				padding:5% 0%;
				background-image:url('../../src/image/fish/title-side.png');
				background-size:20%;
				background-repeat:no-repeat;
				background-position:90% center;

				img{
					width:20%;
				}
			}
			.theoryTxt{ 
				position: relative;
				img{
					width:10%;
					position:absolute;
					z-index:100;
					left:40%;
					bottom:10%;
					// animation:swim 20s infinite linear;
				}
			}

	
		}

		.theoryVideo{
			width: 60%;			
			height: 0;
			padding-bottom: 45%;
			padding-left:10%;
			
			position: relative;
			
			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
			}			
		}
	}



// 必備元素
	.role{
		width:90%;
		margin: auto;
		text-align:center;
		@include rwd (moblie) {	
		    width:100%;
		}
		
		.role_word{
			padding:10% 10% 0;

			.roleTitle{
				text-align:center;
				// border-bottom:2px solid  #83827e;
				padding:5% 0%;
				background-image:url('../../src/image/fish/deco-denim-01.png');
				background-size:30%;
				background-repeat:no-repeat;
				background-position:left center;	
			}
		}

		.roleItem{
			width:30%;
			display:inline-block;
			background-color:#f1ece4;
			border:2px solid  #ddd0bb;
			border-radius:10px;
			margin:auto;
				@include rwd (moblie) {	
			    width:70%;
			    margin:5% auto;   				
				}

				.center{
					@include rwd (moblie) {	
			    		width:100%;
			    		display:flex;
						align-items:center;  				
					}
					&:hover{

						.roleItemPic{
							opacity:1;
							transform:scale(1.1);
							transition:0.5s;
						}
					}
				}
			.roleItemTitle{
				text-align:center;
				@include rwd (moblie) {	
		    		width:100%;
				}		
			}

			.roleItemPic{
				margin:auto;
				opacity:0.4;

				@include rwd (moblie) {	
		    		width:50%;
		    		display:inline-block;
				}
			}
			
			.roleItemTxt{
				width:100%;
				margin:auto;
				@include rwd (moblie) {	
					width:80%;
					display:inline-block;	
									
				}			 
				
				p{
					padding:0 10px;
					text-align:justify;			
				}
			}
			
		}//roleitem結束
	}//role結束
}


// 側邊裝飾
// #frame_left{
// 	position:absolute;
// 	height:3000px;
// 	width:110px;
// 	position:absolute;
// 	top:0%;
// 	background:url('../../src/image/fish/frame_left.png');
// }





















@keyframes bird{
	0%{
		transform:scale(1);
	}

	50%{
		transform:scale(0.9);
	}

	100%{
		transform:scale(1);	
	}
}


@keyframes field{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(359deg);
	}	
}


@keyframes swim{
	from{
		left:0%;
	}

	20%{
		left:40%;
		bottom:15%;
	}

	50%{
		left:80%;
		bottom:20%;
		transform:scaleX(1);	
	}

	50.5%{
		transform:scaleX(-1);
	}

	70%{
		left:40%;
		bottom:10%;
	}

	90%{
		left:20%;
		bottom:20%;
		transform:scaleX(-1);
	}

	to{
		left:0%;
		bottom:10%;
		transform:scaleX(-1);
	}
}