@charset "UTF-8";
@import "../mixins/media";



.clear:after{
	clear:both;
	content:"";
	display:block;
}



body{
	background-image:url('../../src/image/cart/cart-bg.png');
}


//section
section.fish_first{ 
	width:100%;
	position:relative;
	
	// background-image:url('../../src/image/fish/fish_baner.svg');
	// background-repeat:no-repeat;
	// background-size:cover;
	// background-position:center bottom;
	// overflow:hidden;
	img{
		width:80%;
	}
	#fish_banner{
		@include rwd (moblie){
			opacity:0.7;
			position:relative;
		}
	}
	.fishbase{
			width:45%;
			position:absolute;
			top:8%;
			box-sizing:border-box;
			text-align:center;	
			h2,h3{
			color:#6a3906;
			line-height:2;
			}
			h2{
				font-size:38px;
			}
			h3{
				font-size:1.5em;
			}
			@include rwd (moblie) {	
				// padding-top:12%;
				width:80%;
				h2{
					font-size:16px;
				}
				h3{
					font-size:14px;
				}

			}
	}
}


//內容開始
.container{
	width:100%;
	max-width:1440px;
	margin:auto;
	padding:0;
	.baserotate{
		position:absolute;
		z-index:-100;
		top:10%;
		right:0%;
	}
	img{
		width:100%;
	}
	h2{
		font-size:28px;
		@include rwd (moblie) {	
			font-size:24px;		
		}
	}
	h3{
		font-size:24px;
		@include rwd (moblie) {	
			font-size:20px;		
		}
	}
	p{
		font-size: 16px;
		color: #59493f;
		line-height: 2;
		
		margin-bottom:2%;
		@include rwd (moblie) {	
    		font-size:14px;
		}
	}
	.step{
		// background-image:url("../../src/image/fish/farmer.png");
		// 	background-repeat:no-repeat;
		// 	background-position:left top;
		width:90%;
		// max-width:1440px;
		// margin:auto;
		margin: 0  auto ;
		position:relative;
		overflow:hidden;
		
	
		 @include rwd (moblie) {	
    		width:90%;
		}
		.stepFlow{
			
			width:100%;
			margin:auto;
			padding: 10% 0 0 ;
			vertical-align:middle;
			display:flex;
			align-items:center;

			@include rwd (tablet) {	
    			width:100%;
    			padding:0;
			}
			
			.stepFlowLeft{
				width:30%;
				position:relative;
				 @include rwd (moblie) {	
    				display:none;
				}
			}
			.stepFlowRight{
				
				width:50%;
				margin:auto;
				position:relative;
				@include rwd (moblie) {	
    			   width:85%;
				}

				.arrow{
					position:absolute;
					z-index:-1;
				}

			}
		}
		

		.swim{
			width:15%;
			position:absolute;
			// animation:swim 10s infinite  linear;
			// z-index:100;	
		}

		.stepContent{
			width:100%;
			margin:auto;
			padding:5% 10%;
			box-sizing:border-box;
			p{
    			text-indent:2.2em;
    			margin-bottom:2%;
			}
			@include rwd (moblie) {	
    			font-size:14px;
			}
		}

		
		.hr{
			width:70%;
			margin:auto;
		}

			

		
		.stepBuy{
			width:150px;
			text-align:center;
			// line-height:50px;
			background-color:#e8d59b;
			margin:auto;
			a{
				display:block;
				text-decoration:none;
				// color:#000;
				// color: #ffffff;
				
			// &:hover{
			// 	color: #699c33;
			// }
			}
		}
	}


// 運作原理
	.theory{
		width:90%;
		margin: 0 auto  ;

		@include rwd (moblie) {	
		    width:90%;
		}

		.theory_word{
			padding:5% 10%;
			.theoryTitle{
				text-align:left;
				border-bottom:2px solid  #83827e;
				margin:5% 0%;
			}

			// @include rwd (moblie) {	
		 // 		p{font-size:14px;}   
			// }
		}

		.theoryVideo{
			width: 60%;			
			height: 0;
			padding-bottom: 45%;
			margin: auto;
			position: relative;
			
			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
			}			
		}
	}



// 必備元素
	.role{
		width:90%;
		margin: auto;
		text-align:center;
		@include rwd (moblie) {	
		    width:100%;
		}
		
		.role_word{
			padding:5% 10%;

			.roleTitle{
				text-align:left;
				border-bottom:2px solid  #83827e;	
			}
		}

		.roleItem{
			width:30%;
			display:inline-block;
			// vertical-align:top;
			margin:auto;
				@include rwd (moblie) {	
			    width:100%;
			    margin:5% auto; 
			     				
				}
				.center{
					@include rwd (moblie) {	
			    width:100%;
			    // margin:5% auto; 
			    display:flex;
				align-items:center;  				
				}
				}
			.roleItemTitle{
				text-align:center;
				@include rwd (moblie) {	
		    		width:100%;
				}		
			}

			.roleItemPic{
				margin:auto;
				@include rwd (moblie) {	
		    		width:50%;
		    		display:inline-block;
				}
			}
			
			.roleItemTxt{
				width:100%;
				margin:auto;
				@include rwd (moblie) {	
					width:80%;
					display:inline-block;	
									
				}			 
				
				p{
					padding:0 10px;
					text-align:justify;			
				}
			}
			
		}//roleitem結束
	}//role結束
}




@keyframes swim{
	from{
		left:5%;
	}

	20%{
		left:30%;
		bottom:20%;
	}

	50%{
		left:80%;
		bottom:15%;
		transform:scaleX(1);	
	}

	50.5%{
		transform:scaleX(-1);
	}

	70%{
		left:50%;
		bottom:20%;
	}

	90%{
		left:5%;
		bottom:15%;
		transform:scaleX(-1);
	}

	to{
		left:0%;
		bottom:10%;
		transform:scaleX(-1);
	}
}